/* main header start */
.container-fluid {
    cursor: pointer;
}

.dashboar-head {
    width: 100%;
    border-bottom: 1px solid white;
    margin-top: 0.5em;
    margin-bottom: 0.5rem;
}

.req-head-icon {
    font-size: 16px;
}

.req-head {
    font-size: 18px;
    margin-left: 10px;
    font-size: 14px;
}

.py-2 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.mb-1 {
    margin-bottom: 0rem !important;
}

.mb-2 {
    margin-bottom: 0rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.text-size {
    font-size: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}

/* main header end */

.main-card {
    border: 0;
}

.card-body_item_setup {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}

.itemsetup_container {
    position: relative;
    /* height: 70vh; */
    margin-top: 8px;
    border: 1px solid rgb(211, 211, 211);
    /* background: rgba(216, 216, 216, 0.767); */
}

.add_edit_head {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 25px;
    width: 20%;
    height: 33px;
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 35px;
}

.add_edit_head h2 {
    position: absolute;
    display: flex;
    font-size: 14px;
    color: rgb(126, 126, 126);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-body_store {
    flex: 1 1 auto;
    padding: 0.1rem 0.5rem;
}

.item_setupflag {
    margin-bottom: 4px;
    font-size: 13.5px;
}

.setupflag_label {
    margin-right: 5px;
}

.item_inputbox {
    position: relative;
    margin-top: 2px;
    padding: 0.175rem 0.25rem 0.175rem 0.75rem;
    font-size: 0.8rem;
    border-color: cadetblue;
    z-index: 1;
}

@media (min-width: 576px) {
    .col-org_filter {
        flex: 0 0 auto;
        width: 16.5%;
    }
}

.font_size_filter {
    display: flex;
    padding-right: 8px;
    font-size: 13px;
    justify-content: right;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


.submit_button {
    position: relative;
    display: flex;
    margin-top: -6px;
    justify-content: right;
}


/* table */
.type_type {
    height: 637px;
    overflow: auto;
    border: 1px solid #71bac4;
}

/* table row column fixed */

/* data table */
table.dataTable thead th,
table.dataTable thead td {
    padding: 3px;
    border-bottom: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 1px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: inherit;
    font-size: 13px;
    margin-left: 2rem;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px 1px;
}


/* filtering & paging */
.dataTables_wrapper .dataTables_length select {
    padding: 0.175rem 0.65rem 0.175rem 0.65rem;
    position: relative;
    width: 44% !important;
    font-weight: 400;
    line-height: 1.5;
    outline: none !important;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-bottom: 0.5rem;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    flex-direction: row;
    text-align: center;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 0.175rem 0.65rem 0.175rem 0.65rem;
    position: relative;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    outline: none !important;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    flex-direction: row;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-right: 5rem;
    margin-bottom: 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.1em 1em;
    outline: none !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-right: 1rem;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    padding-bottom: 1em;
}


table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "" !important;
    content: "" /"" !important;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "" !important;
    content: "" /"" !important;
}

table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc_disabled,
table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 0px;
}

/* filtering & paging */
/* data table */

.form-check {
    display: block;
    min-height: 0rem;
    padding-left: 1.5em;
    margin-bottom: 0rem;
    margin-right: 1rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none;
}

.table-header {
    color: #fff;
    background: #2e94a1;
    font-size: 12px;
}

.table-header_itemlist {
    color: #fff;
    background: #85acb1;
    font-size: 0.73rem;
}

.table>thead {
    vertical-align: middle;
}


.table-body-row {
    font-size: 0.7rem;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 3px;
    border-bottom: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 1px;
}

.table>:not(caption)>*>* {
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
    vertical-align: middle;
}

/* table */




/* loader */
.loader {
    position: absolute;
    width: 93.8vw;
    height: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4ab;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 3;
}


.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #1a8af3;
    border-top: 15px solid #81c2ff;
    border-left: 15px solid #81c2ff;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}