<main>
    <section style="margin-top: 2rem;">
        <div class="container" style="display: flex; justify-content: center; align-items: center; text-align: center;">
            <div class="row col-sm-12">
                <div class="info col-sm-12">
                    <p style="display: flex;
                    justify-content: left;
                    text-align: center;
                    align-items: center;">
                        <strong class="text-danger">Not Allow!</strong>
                        <strong class="text-success" style="margin-left: 2rem;">
                            Please Organization Wise Store Template Select First ...
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>