<main>
    <section class="container-fluid" style="margin-top: 0.5rem; margin-bottom:0.5rem;">
        <section style="border: 1px solid rgba(0, 0, 0, .125); border-top: none; border-radius: 0.3rem;">
            <div style="border: 1px solid rgba(0, 0, 0, .125);
                margin-bottom: 0.5rem;
                border-left: none;
                border-right: none;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                background: #455697;">
                <!-- Main Heading -->
                <div class="row" style="display: flex; justify-content: center; text-align: center; align-items: center;">
                    <div class="col col-md-12 col-md-12 dashboar-head" style="display:flex; align-items: center;">
                        <div class="d-sm-flex align-items-center mb-2" style="height: 1.5rem; width: 100%; margin-left: 1rem;">
                            <div class="col-md-12" style="display: flex; align-items: center;">
                                <div class="col-md-5" style="display: flex;">
                                    <i class='bx bx-wallet-alt text-white req-head-icon'></i>
                                    <h1 class="h3 text-white req-head">Invoice Cancellation</h1>
                                </div>
                                <!--  -->
                                <div class="col-md-7" style="display: flex; justify-content: right;">
                                    <!--  -->
                                    <button type="button" onClick="navigateTo('/item_pos_billing/')" class="btn bg-gradient col-ms-3 text-white btn-xs POSlink_btn"
                                        style="margin-right: 1rem; font-weight: bolder; box-shadow: 4px 2px 5px 2px #43507e; border-radius: 1rem; border: 1.5px solid #fff;">
                                        Billing
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <!--  -->
            <section style="margin-left: 0.5rem; margin-right: 0.5rem;">
                <form action="" id="invCancel-form">
                    <input type="hidden" id="id_org_id_can" name="org_id_can" value="0">
                    <input type="hidden" id="id_branch_id_can" name="branch_id_can" value="0">
                    <input type="hidden" id="id_supplier_id_can" name="supplier_id_can" value="0">
                    <section>
                        <div class="card main_pos_card">
                            <div class="row cash_point_row">
                                <div class="col-sm-12">
                                    <div class="card pos_card">
                                        <div class="card-body pos_card_body">
                                            <div class="row cash_point_row">
                                                <div class="col-sm-4">
                                                    <div class="card pos_card" style="margin-top: 18px;">
                                                        <div class="card-body pos_card_body">
                                                            <div class="row cash_point_row">
                                                                <label for="cash_point"
                                                                    class="col-sm-2-mody col-form-label invLabel">
                                                                    Invoice No
                                                                </label>
                                                                <div class="col-sm-7-mody">
                                                                    <input type="number" value="" name="can_searchID" id="can_searchID"
                                                                        class="form-control text-center pos_inputbox"
                                                                        placeholder="Searching by Invoice ID" autocomplete="off"
                                                                        required>
                                                                </div>
                                                                <!--  -->
                                                                <div class="col-sm-3">
                                                                    <button type="button"
                                                                        class="btn bg-info text-white btn-xs due_invDBtn load-data"
                                                                        id="can_searchBtn">Details</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-5">
                                                    <div class="card pos_card">
                                                        <div class="card-body pos_card_body">
                                                            <div class="row cash_point_row">
                                                                <label for="cash_point" style="margin-top: 18px;"
                                                                    class="col-sm-3-mody col-form-label invLabel">
                                                                    Customer Info.
                                                                </label>
                                                                <div class="col-sm-9-mody">
                                                                    <textarea style="height: 62px; color: #037c83;" type="text" class="form-control invDetails pos_inputbox" readonly></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-4_mody">
                                                    <div class="card pos_card">
                                                        <div class="card-body pos_card_body">
                                                            <div class="row cash_point_row">
                                                                <!--  -->
                                                                <div class="invoice_status" style="margin-top: 17px;">
                                                                    <h2 class="can_invoice_status"></h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!--  -->
                    <section>
                        <div class="col-xl-12">
                            <div class="table-body item_table_body">
                                <div class="d-flex w-100" id="cancel-table">
                                    <table class="table table-striped" style="width: 100%;" id="mul_item_tbl">
                                        <thead class="text-center table-header_itemlist">
                                            <tr style="border-style: hidden!important;">
                                                <th style="text-align:center; width: 3%;">Sl</th>
                                                <th style="text-align:center;">Item No</th>
                                                <th style="text-align:center; width: 20%;">Item Name</th>
                                                <th style="text-align:center;">Type</th>
                                                <th style="text-align:center;">Batch</th>
                                                <th style="text-align:center;">S.Rate</th>
                                                <th style="text-align:center;">S.Qty</th>
                                                <th style="text-align:center;">Item Dis</th>
                                                <th style="text-align:center;">Can. Qty</th>
                                                <th style="text-align:center;" class="text-danger">Cancel</th>
                                                <th style="text-align:center; width: 5%;" class="text-danger">Qty Can.</th>
                                                <th style="text-align:center; width: 8%;">Total</th>
                                                <th style="text-align:center; width: 15%;" class="text-danger">Cancel Reason</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cancel_tbody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--  -->
                    <section style="margin-top: 2rem; margin-bottom: 10px;">
                        <div class="row cash_point_row">
                            <div class="col-sm-4">
                                <div class="card main_pos_card">
                                    <div class="status_head">
                                        <h2>Bill Summary Status</h2>
                                    </div>
                                    <div class="card-body pos_card_body" style="margin-top: 5px;">
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_bill-can" class="col-sm-2 col-form-label">Total Bill:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    name="total_bill-can" value="0">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="total_bill-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_vat_tax-can" class="col-sm-2 col-form-label">Total VAT TAX:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="total_vat_tax-can">
                                                <span class="form-control paymentDtl pos_inputbox" id="total_vat_tax-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_gross_dis-can" class="col-sm-2 col-form-label">Total Gross Dis:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="total_gross_dis-can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="total_gross_dis-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="id_carrying_cost_seller_can" class="col-sm-2 col-form-label">Carrying Cost Seller:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="carrying_cost_seller_can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="id_carrying_cost_seller_can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="id_carrying_cost_buyer_can" class="col-sm-2 col-form-label">Carrying Cost Buyer:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="carrying_cost_buyer_can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="id_carrying_cost_buyer_can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="ins_collection-can" class="col-sm-2 col-form-label">Instant Collection:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="ins_collection-can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="ins_collection-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="due_collection-can" class="col-sm-2 col-form-label">Due Collection:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="due_collection-can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="due_collection-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="id_adjust_amount_bill_can" class="col-sm-2 col-form-label">Adjust Amount:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="adjust_amount_bill_can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="id_adjust_amount_bill_can">0.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card main_pos_card">
                                    <div class="status_head">
                                        <h2>Bill Cancel Status</h2>
                                    </div>
                                    <div class="card-body pos_card_body" style="margin-top: 5px;">
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="cancel_bill-can" class="col-sm-2 col-form-label">Cancel Bill:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    name="cancel_bill-can" value="0">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="cancel_bill-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="cancel_vat_tax-can" class="col-sm-2 col-form-label">Cancel VAT TAX:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="cancel_vat_tax-can">
                                                <span class="form-control paymentDtl pos_inputbox" id="cancel_vat_tax-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="cancel_gross_disc-can" class="col-sm-2 col-form-label">Cancel Gross Dis:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="cancel_gross_disc-can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="cancel_gross_disc-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-sm-4">
                                <div class="card main_pos_card">
                                    <div class="status_head">
                                        <h2>Overall Summary Status</h2>
                                    </div>
                                    <div class="card-body pos_card_body" style="margin-top: 5px;">
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_net_bill-can" class="col-sm-2  col-form-label">Total Net Bill:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    value="0" name="total_net_bill-can">
                                                <span class="form-control paymentDtl pos_inputbox" id="total_net_bill-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_net_vat-can" class="col-sm-2  col-form-label">Net Vat Tax (+):</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    value="0" name="total_net_vat-can">
                                                <span class="form-control paymentDtl pos_inputbox" id="total_net_vat-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_net_disc-can" class="col-sm-2  col-form-label">Net Discount (-):</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    value="0" name="total_net_disc-can">
                                                <span class="form-control paymentDtl pos_inputbox" id="total_net_disc-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="id_carrying_cost_overall_can" class="col-sm-2  col-form-label">Carrying Cost (+):</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    value="0" name="carrying_cost_overall_can">
                                                <span class="form-control paymentDtl pos_inputbox" id="id_carrying_cost_overall_can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="grand_net_bill-can" class="col-sm-2  col-form-label">Grand Net Bill:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox"
                                                    value="0" name="grand_net_bill-can">
                                                <span class="form-control paymentDtl pos_inputbox" id="grand_net_bill-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="id_grand_adjust_overall_can" class="col-sm-2 col-form-label">Total Adjust Amt:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="grand_adjust_overall_can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="id_grand_adjust_overall_can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="total_pay_amt-can" class="col-sm-2 col-form-label">Total Pay Amt:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="total_pay_amt-can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="total_pay_amt-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="refund_amt-can" class="col-sm-2 col-form-label">Refund Amt.:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" value="0"
                                                    name="refund_amt-can">
                                                <span class="form-control paymentDtl pos_inputbox"
                                                    id="refund_amt-can">0.00</span>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="row cash_point_row">
                                            <label for="due_amount-can" class="col-sm-2 text-danger col-form-label">
                                                Due Amount:
                                            </label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control paymentDtl pos_inputbox" id="due_value"
                                                    value="0" name="due_amount-can" readonly>
                                                <span class="form-control paymentDtl pos_inputbox text-danger" id="due_amount-can">0.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="payment-submitBtn">
                            <table id="" class="table paymode_table" style="width: 35%;">
                                <tbody>
                                    <tr style="border-style: hidden!important;">
                                        <td style="text-align:right; width: 100%;">
                                            <button type="button" style="text-align:center; width: 20%;" id="resetButton"
                                                onClick="navigateTo('/due_refund_cancel_services/')"
                                                class="btn btn-danger col-sm-4 text-white btn-xs item_payment_btn">
                                                Clear
                                            </button>
                                            <button type="submit" style="width: 32%; margin-right: 2rem; text-align:center;"
                                                id="check_out"
                                                class="btn btn-primary col-sm-4 text-white btn-xs item_payment_btn">
                                                Cancel Invoice
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </form>
            </section>
        </section>
    </section>
    
</main>

<script>
    $(document).ready(function () {
        var grand_total_bill = 0; // Initialize a variable to hold the cumulative total

        // Intercept the Enter key press in the search input field
        $("#can_searchID").keypress(function (e) {
            if (e.which === 13) {
                e.preventDefault(); // Prevent the default form submission
                // Add any additional actions you want to perform here

                // For example, you can trigger the search button click
                $("#can_searchBtn").click();
            }
        });

        // Define a function to populate the table with data
        function cancel_populateTable(data) {
            var tableBody = $("#cancel_tbody");
            tableBody.empty();  // Clear the existing rows

            var grand_total_bill = 0;
            var grand_vat_tax = 0;
            var grand_discount = 0;
            var total_cancel_bill = 0;
            var total_cancel_vat = 0;
            var total_cancel_gross_dis = 0;
            var grand_bill = 0;
            var grand_net_vat_tax = 0;
            var grand_net_disc = 0;
            var net_grand_bill = 0;
            var collection_amt = 0;
            var due_collection_amt = 0;
            var refund_amt = 0;
            var grand_pay_amount = 0;
            var grand_net_due_amt = 0;
            var total_item_wise_ccost = 0;

            // invoice history
            for (var i = 0; i < data.invoice_items.length; i++) {
                var invoice = data.invoice_items[i];

                var invoiceData = "Invoice Date: " + invoice.invoice_date + "\n";
                invoiceData += "Invoice ID: " + invoice.inv_id + "\n";
                invoiceData += "Org Name: " + invoice.org_name + "\n";
                invoiceData += "Branch Name: " + invoice.branch_name + "\n";
                invoiceData += "Clients Name: " + invoice.supplier_name + "\n";
                invoiceData += "Customer Name: " + invoice.customer_name + "\n";
                invoiceData += "Gender: " + invoice.gender + "\n";
                invoiceData += "Mobile Number: " + invoice.mobile_number;

                var orgData = invoice.org_id;
                var branchData = invoice.branch_id;
                var supplierData = invoice.supplier_id;

                $("#id_org_id_can").val(orgData);
                $("#id_branch_id_can").val(branchData);
                $("#id_supplier_id_can").val(supplierData);
                $(".invDetails").val(invoiceData);
                
                console.log("invoice:", invoice);
            }

            // payment history
            for (var i = 0; i < data.payments_amt.length; i++) {
                var collections = data.payments_amt[i];
                
                collection_amt = collections.collection_amt_sum
                due_collection_amt = collections.due_collection_amt_sum
                adjust_collection_amt = collections.adjust_collection_amt
                refund_amt = collections.refund_amt_sum
                grand_pay_amount = (collection_amt + due_collection_amt)
                grand_net_due_amt = collections.net_due_amt

                $('input[name="adjust_amount_bill_can"]').val(adjust_collection_amt);
                $('#id_adjust_amount_bill_can').text(adjust_collection_amt.toFixed(0));

                $('input[name="grand_adjust_overall_can"]').val(adjust_collection_amt);
                $('#id_grand_adjust_overall_can').text(adjust_collection_amt.toFixed(0));

                $('input[name="ins_collection-can"]').val(collection_amt);
                $('#ins_collection-can').text(collection_amt.toFixed(0));

                $('input[name="due_collection-can"]').val(due_collection_amt);
                $('#due_collection-can').text(due_collection_amt.toFixed(0));

                $('input[name="refund_amt-can"]').val(refund_amt);
                $('#refund_amt-can').text(refund_amt.toFixed(0));

                $('input[name="total_pay_amt-can"]').val(grand_pay_amount);
                $('#total_pay_amt-can').text(grand_pay_amount.toFixed(0));

                $('input[name="due_amount-can"]').val(grand_net_due_amt);
                $('#due_amount-can').text(grand_net_due_amt.toFixed(0));

                if (collections.net_due_amt === 0) {
                    document.querySelector(".can_invoice_status").classList.add("no-due");
                    document.querySelector(".can_invoice_status").textContent = "Invoice Has No Due";
                } else if (collections.net_due_amt < 0) {
                    document.querySelector(".can_invoice_status").classList.add("needs-refund");
                    document.querySelector(".can_invoice_status").textContent = "The invoice needs to be Refunded";
                } else {
                    document.querySelector(".can_invoice_status").classList.add("has-due");
                    document.querySelector(".can_invoice_status").textContent = "Invoice Has Due";
                }
                
            }
            

            // invoicedtl history
            for (var i = 0; i < data.invoicedtl_data.length; i++) {
                var item = data.invoicedtl_data[i];

                var sales_rate = parseFloat(item.sales_rate.toFixed(2))
                var qty = parseFloat(item.qty.toFixed(2))
                var item_w_dis = parseFloat(item.item_w_dis.toFixed(2)) 
                var canncelled_qty = parseFloat(item.canncelled_qty.toFixed(2))

                var cancel_item_w_dis = ((item_w_dis / qty) * canncelled_qty)
                var totalAmount = (((sales_rate * qty) - item_w_dis) - ((sales_rate * canncelled_qty) + cancel_item_w_dis)).toFixed(0);

                // Now you can use 'item' and 'invoice' as needed
                console.log("Item:", item);

                // actual bill calculation start
                var total_bills = item.total_bill
                var total_vat_tax = item.vat_tax
                var total_disc = item.total_dis
                var cancel_bill = item.cancel_bill
                var cancel_vat = item.cancel_vat
                var cancel_gross_dis = item.cancel_gross_dis
                var item_wise_ccost = item.item_wise_ccost
                var total_buyer_carrying = item.total_buyer_carrying
                var total_seller_carrying = item.total_seller_carrying

                grand_total_bill += parseFloat(total_bills);
                grand_vat_tax += parseFloat(total_vat_tax);
                grand_discount += parseFloat(total_disc);
                total_cancel_bill += parseFloat(cancel_bill);
                total_cancel_vat += parseFloat(cancel_vat);
                total_cancel_gross_dis += parseFloat(cancel_gross_dis);
                total_buyer_carrying = parseFloat(total_buyer_carrying);
                total_seller_carrying = parseFloat(total_seller_carrying);

                grand_bill = grand_total_bill - total_cancel_bill

                grand_net_vat_tax = grand_vat_tax - total_cancel_vat

                grand_net_disc = grand_discount - total_cancel_gross_dis

                net_grand_bill = grand_bill + grand_net_vat_tax + total_buyer_carrying - grand_net_disc

                $('input[name="carrying_cost_seller_can"]').val(total_seller_carrying);
                $('#id_carrying_cost_seller_can').text(total_seller_carrying.toFixed(0));

                $('input[name="carrying_cost_buyer_can"]').val(total_buyer_carrying);
                $('#id_carrying_cost_buyer_can').text(total_buyer_carrying.toFixed(0));

                $('input[name="carrying_cost_overall_can"]').val(total_buyer_carrying);
                $('#id_carrying_cost_overall_can').text(total_buyer_carrying.toFixed(0));

                $('input[name="total_bill-can"]').val(grand_total_bill);
                $('#total_bill-can').text(grand_total_bill.toFixed(0));

                $('input[name="total_vat_tax-can"]').val(grand_vat_tax);
                $('#total_vat_tax-can').text(grand_vat_tax.toFixed(0));

                $('input[name="total_gross_dis-can"]').val(grand_discount);
                $('#total_gross_dis-can').text(grand_discount.toFixed(0));
                
                $('input[name="cancel_bill-can"]').val(total_cancel_bill);
                $('#cancel_bill-can').text(total_cancel_bill.toFixed(0));

                $('input[name="cancel_vat_tax-can"]').val(total_cancel_vat);
                $('#cancel_vat_tax-can').text(total_cancel_vat.toFixed(3));

                $('input[name="cancel_gross_disc-can"]').val(total_cancel_gross_dis);
                $('#cancel_gross_disc-can').text(total_cancel_gross_dis.toFixed(3));

                $('input[name="total_net_bill-can"]').val(grand_bill);
                $('#total_net_bill-can').text(grand_bill.toFixed(0));

                $('input[name="total_net_vat-can"]').val(grand_net_vat_tax);
                $('#total_net_vat-can').text(grand_net_vat_tax.toFixed(3));

                $('input[name="total_net_disc-can"]').val(grand_net_disc);
                $('#total_net_disc-can').text(grand_net_disc.toFixed(3));

                $('input[name="grand_net_bill-can"]').val(net_grand_bill);
                $('#grand_net_bill-can').text(net_grand_bill.toFixed(0));
                
                
                var checkboxId = item.item_no + 1;
                var inputId = item.item_no + 11;

                var row = $("<tr style='border-style: hidden!important;'>");
                row.append("<td style='text-align:center;'></td>");
                row.append("<td style='text-align:center;'>" + item.item_no + "<input type='hidden' value='" + item.invdtl_id + "' name='invoicedtl_id[]' class='form-control pos_inputbox'></td>");
                row.append("<td style='text-align:left;'>" + item.item_name + "</td>");
                row.append("<td style='text-align:center;'>" + item.item_type + "</td>");
                row.append("<td style='text-align:center;'>" + item.batch + "</td>");  // Add batch
                row.append("<td style='text-align:center;'>" + item.sales_rate + "</td>");
                row.append("<td style='text-align:center;'>" + item.qty + "</td>");
                row.append("<td style='text-align:center;'>" + item.item_w_dis + "</td>");
                row.append("<td style='text-align:center;'>" + item.canncelled_qty + "</td>");
                row.append("<td style='text-align:center;'><input type='checkbox' value='' id='" + checkboxId + "' name='is_cancel[]' class='form-check-input input-gap' checked disabled></td>");
                row.append("<td style='text-align:center;'><input type='number' value='" + item.qty + "' id='id_net_cancelQty' name='net_cancelQty[]' class='form-control text-center text-danger pos_inputbox' style='padding: 0.1rem 0.15rem 0.15rem 0.2rem;' readonly></td>");
                row.append("<td style='text-align:center;'>" + totalAmount + "</td>");
                row.append("<td style='text-align:center;'><input value='" + 'Customer Request' + "' name='cancel_reason[]' class='form-control text-danger text-left pos_inputbox' style='margin-left: -3px;' autocomplete='off' readonly></td>");
                

                tableBody.append(row);
                
            }
        }

        // Fetch data from your Django view using AJAX
        $("#can_searchBtn").click(function () {
            var invoiceID = $("#can_searchID").val();

            $.ajax({
                type: "GET",
                url: "/invoice_cancel_details/" + invoiceID + "/", // Replace with your actual URL
                dataType: "json",
                success: function (data) {
                    cancel_populateTable(data); // Call the function to populate the table
                },
                error: function (xhr, status, error) {
                    console.log("AJAX Error:", error);
                    toastr.warning("Failed to fetch invoice details");
                }
            });
        });

        $(function () {
            $('#invCancel-form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    url: "{% url 'allcancel_invoice_details' %}",
                    data: new FormData(form[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    dataType: 'json',
                    success: function (resp) {
                        if (resp.success) {
                            toastr.success(resp.msg);

                            // Trigger the click event on the searchBtn button
                            $("#can_searchBtn").click();
    
                        } else {
                            toastr.error(resp.errmsg);
                        }
                    }
                });
            });
        });
        
    });
</script>