{% load static %}
<section>
    <div class="col-sm-12">
        <div class="card main-card">
            <div class="card-body card-body_item_setup">
                <div class="itemsetup_container">
                    <form action="" method="" id="updatedriver" enctype="multipart/form-data">
                        <input type="hidden" name="driver_id" value="{% if driver_data.pk %}{{driver_data.pk}}{% endif %}">
                        <div class="add_edit_head">
                            <h2 class="text-primary">Edit/Update Drivers Information</h2>
                        </div>
                        <!--  -->
                        <div class="row row_item_setup">
                            <!--  -->
                            <div class="col-sm-12">
                                <div class="card main-card">
                                    <div class="card-body card-body_org_setup">
                                        <div class="row row_item_setup">
                                            <div class="col-sm-8">
                                                <div class="card main-card">
                                                    <div class="card-body item_setup_sub">
                                                        <div class="row cash_point_row">
                                                            <label for="id_driver_no"
                                                                class="col-sm-3 col-form-label font_size_filter required">
                                                                Driver No:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control item_inputbox"
                                                                    value="{% if driver_data.driver_no %}{{driver_data.driver_no}}{% endif %}"
                                                                    id="id_driver_no" name="driver_no" autocomplete="off"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  -->
                                            <div class="col-sm-4">
                                                <div class="card main-card">
                                                    <div class="card-body item_setup_sub">
                                                        <div class="item_setupflag div_id_is_active"
                                                            style="display: flex; justify-content: right;">
                                                            <label class="form-check-label text-danger setupflag_label"
                                                                for="id_is_active">
                                                                Active?
                                                            </label>
                                                            {% if driver_data.is_active == 1 %}
                                                            <input type="checkbox" class="form-check-input checkboxinput" value="1"
                                                                name="is_active" id="id_is_active" checked="checked">
                                                            {% else %}
                                                            <input type="checkbox" class="form-check-input checkboxinput" value="1"
                                                                name="is_active" id="id_is_active">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-sm-12">
                                <div class="card main-card">
                                    <div class="card-body card-body_org_setup">
                                        <div class="row row_item_setup">
                                            <div class="col-sm-12">
                                                <div class="card main-card">
                                                    <div class="card-body item_setup_sub">
                                                        <div class="row cash_point_row">
                                                            <label for="id_driver_name"
                                                                class="col-sm-orgName col-form-label font_size_filter required">
                                                                Driver Name:
                                                            </label>
                                                            <div class="col-orgNameInput">
                                                                <input type="text" class="form-control item_inputbox"
                                                                    value="{% if driver_data.driver_name %}{{driver_data.driver_name}}{% endif %}"
                                                                    id="id_driver_name" name="driver_name" autocomplete="off"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-sm-12">
                                <div class="card main-card">
                                    <div class="card-body card-body_org_setup">
                                        <div class="row row_item_setup">
                                            <div class="col-sm-12">
                                                <div class="card main-card">
                                                    <div class="card-body item_setup_sub">
                                                        <div class="row cash_point_row">
                                                            <!--  -->
                                                            <label for="id_org" class="col-sm-orgName col-form-label font_size_filter required">
                                                                Org:
                                                            </label>
                                                            <div class="col-orgNameInput">
                                                                <select id="id_org" name="org_id" class="form-select Selectionbox" aria-label="Default select example" required>
                                                                    <option value="" selected disabled>Choose Organization ...</option>
                                                                    {% for org in org_list %}
                                                                        <option value="{{ org.org_id }}" {% if driver_data and driver_data.org_id_id == org.org_id %}selected{% endif %}>
                                                                            {{ org.org_name }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <!--  -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="col-sm-12">
                                <div class="card main-card">
                                    <div class="card-body card-body_item_setup">
                                        <div class="itemsetup_container">
                                            <div class="others_info_head">
                                                <h2 class="text-info">Others Information</h2>
                                            </div>
                                            <!--  -->
                                            <div class="row row_item_setup">
                                                <!--  -->
                                                <div class="col-sm-12">
                                                    <div class="card main-card">
                                                        <div class="card-body card-body_org_setup">
                                                            <div class="row row_item_setup">
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div
                                                                                class="row cash_point_row div_id_country">
                                                                                <label for="id_country"
                                                                                    class="col-sm-3modify col-form-label font_size_filter">
                                                                                    Country:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <select id="id_country" name="country" class="form-select item_inputbox" aria-label="Default select example">
                                                                                        <option value="" selected disabled>Choose Country ... </option>
                                                                                        {% for count in countries %}
                                                                                            <option value="{{ count.lookup_id }}" {% if driver_data and driver_data.country_id == count.lookup_id %}selected{% endif %}>
                                                                                                {{ count.name }}
                                                                                            </option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div class="item_setupflag div_id_division"
                                                                                style="display: flex; justify-content: right;">
                                                                                <label for="id_division"
                                                                                    class="col-sm-3 col-form-label font_size_filter">
                                                                                    Division:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <select id="id_division"
                                                                                        name="division"
                                                                                        class="form-select item_inputbox"
                                                                                        aria-label="Default select example">
                                                                                        <option value="" selected disabled>Choose Division ... </option>
                                                                                        {% for divis in divisions %}
                                                                                        <option value="{{divis.lookup_id}}" {% if driver_data and driver_data.division_id == divis.lookup_id %}selected{% endif %}>
                                                                                            {{ divis.name }}
                                                                                        </option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-12">
                                                    <div class="card main-card">
                                                        <div class="card-body card-body_org_setup">
                                                            <div class="row row_item_setup">
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div
                                                                                class="row cash_point_row div_id_district">
                                                                                <label for="id_district"
                                                                                    class="col-sm-3modify col-form-label font_size_filter">
                                                                                    District:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <select id="id_district"
                                                                                        name="district"
                                                                                        class="form-select item_inputbox"
                                                                                        aria-label="Default select example">
                                                                                        <option value="" selected disabled>Choose District ... </option>
                                                                                        {% for dist in districts %}
                                                                                        <option value="{{dist.lookup_id}}" {% if driver_data and driver_data.district_id == dist.lookup_id %}selected{% endif %}>
                                                                                            {{ dist.name }}
                                                                                        </option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div class="item_setupflag div_id_upazila"
                                                                                style="display: flex; justify-content: right;">
                                                                                <label for="id_upazila"
                                                                                    class="col-sm-3 col-form-label font_size_filter">
                                                                                    Upazila:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <select id="id_upazila"
                                                                                        name="upazila"
                                                                                        class="form-select item_inputbox"
                                                                                        aria-label="Default select example">
                                                                                        <option value="" selected disabled>Choose Upazila ... </option>
                                                                                        {% for upazila in upazilas %}
                                                                                        <option value="{{upazila.lookup_id}}" {% if driver_data and driver_data.upazila_id == upazila.lookup_id %}selected{% endif %}>
                                                                                            {{ upazila.name }}
                                                                                        </option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-12">
                                                    <div class="card main-card">
                                                        <div class="card-body card-body_org_setup">
                                                            <div class="row row_item_setup">
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div
                                                                                class="row cash_point_row div_id_email">
                                                                                <label for="id_email"
                                                                                    class="col-sm-3modify col-form-label font_size_filter">
                                                                                    Email:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="email" class="form-control item_inputbox"
                                                                                        value="{% if driver_data.email %}{{driver_data.email}}{% endif %}"
                                                                                        id="id_email" name="email"
                                                                                        autocomplete="off">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div class="item_setupflag div_id_fax"
                                                                                style="display: flex; justify-content: right;">
                                                                                <label for="id_fax"
                                                                                    class="col-sm-3 col-form-label font_size_filter">
                                                                                    Fax:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="number" class="form-control item_inputbox"
                                                                                        value="{% if driver_data.fax %}{{driver_data.fax}}{% endif %}"
                                                                                        id="id_fax" name="fax" autocomplete="off">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-12">
                                                    <div class="card main-card">
                                                        <div class="card-body card-body_org_setup">
                                                            <div class="row row_item_setup">
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div
                                                                                class="row cash_point_row div_id_website">
                                                                                <label for="id_website"
                                                                                    class="col-sm-3modify col-form-label font_size_filter">
                                                                                    Website:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="text" class="form-control item_inputbox"
                                                                                        value="{% if driver_data.website %}{{driver_data.website}}{% endif %}"
                                                                                        id="id_website" name="website" autocomplete="off">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div class="item_setupflag div_id_hotline"
                                                                                style="display: flex; justify-content: right;">
                                                                                <label for="id_hotline"
                                                                                    class="col-sm-3 col-form-label font_size_filter">
                                                                                    Hotline:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="number" class="form-control item_inputbox"
                                                                                        value="{% if driver_data.hotline %}{{driver_data.hotline}}{% endif %}"
                                                                                        id="id_hotline" name="hotline" autocomplete="off">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-12">
                                                    <div class="card main-card">
                                                        <div class="card-body card-body_org_setup">
                                                            <div class="row row_item_setup">
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div
                                                                                class="row cash_point_row div_id_phone">
                                                                                <label for="id_phone"
                                                                                    class="col-sm-3modify col-form-label font_size_filter required">
                                                                                    Phone:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="number" class="form-control item_inputbox"
                                                                                        value="{% if driver_data.phone %}{{driver_data.phone}}{% endif %}"
                                                                                        id="id_phone" name="phone" autocomplete="off" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div class="item_setupflag"
                                                                                style="display: flex; justify-content: right;">
                                                                                <label for="id_logo"
                                                                                    class="col-sm-3 col-form-label font_size_filter">
                                                                                    Picture:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <!-- logo -->
                                                                                    <div class="profile-container px-4">
                                                                                        <div class="row gx-5 user-profile">
                                                                                            <div class="col user-profile-img">
                                                                                                <div class="user-img">
                                                                                                    <div class="profile-pic">
                                                                                                        <div id="display_image">
                                                                                                            <img class="img-viewer" id="selected_logo" src="{% if driver_data.driver_picture %}{{ driver_data.driver_picture.url }}{% else %}{% static 'images/profile_img/user.png' %}{% endif %}">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="form-row field-profile_img profile-icon">
                                                                                                        <div>
                                                                                                            <label for="id_driver_picture">
                                                                                                                <i class="bx bxs-camera profile-upload-icon"></i>
                                                                                                            </label>
                                                                                                            <input type="file" name="driver_picture" accept="image/*"
                                                                                                                id="id_driver_picture" style="display:none;"
                                                                                                                onchange="displaySelectedLogo(this);">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- logo -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="col-sm-12" style="margin-bottom: 0.5rem;">
                                                    <div class="card main-card">
                                                        <div class="card-body card-body_org_setup">
                                                            <div class="row row_item_setup">
                                                                <div class="col-sm-6">
                                                                    <div class="card main-card">
                                                                        <div class="card-body item_setup_sub">
                                                                            <div
                                                                                class="row cash_point_row div_id_address">
                                                                                <label for="id_address"
                                                                                    class="col-sm-3modify col-form-label font_size_filter">
                                                                                    Address:
                                                                                </label>
                                                                                <div class="col-sm-9">
                                                                                    <textarea type="text"
                                                                                        class="form-control item_inputbox"
                                                                                        id="id_address" name="address"
                                                                                        autocomplete="off">{{driver_data.address}}</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- submit button -->
                        <div class="submit_button">
                            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" style="margin-right: 10px;">
                                Close
                            </button>
                            <button type="submit" value="submit" class="btn btn-success btn-sm"
                                style="margin-right: 10px;">
                                Save & Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Initial population of branch options based on the selected organization
        updateBranchOptions();

        // Add change event listener to the organization dropdown
        $('#id_org').on('change', function () {
            // Update branch options whenever the organization dropdown changes
            updateBranchOptions();
        });

        function updateBranchOptions() {
            // Get the selected organization ID
            var selectedOrgId = $('#id_org').val();

            // Make an AJAX request to get branch options based on the selected organization
            $.ajax({
                url: '/get_branch_options/',  // Replace with your actual URL for fetching branch options
                method: 'GET',
                data: { org_id: selectedOrgId },
                success: function (data) {
                    // Clear existing options
                    $('#id_branch_name').empty();

                    // Add default option
                    $('#id_branch_name').append('<option value="" selected disabled>Choose Branch ...</option>');

                    // Add fetched branch options
                    $.each(data.branch_list, function (index, branch) {
                        var selected = '';
                        // Check if the branch_id matches user_data's branch_id
                        if (branch.branch_id == '{{ driver_data.branch_id }}') {
                            selected = 'selected';
                        }
    
                        $('#id_branch_name').append('<option value="' + branch.branch_id + '" ' + selected + '>' + branch.branch_name + '</option>');
                    });
                },
                error: function (error) {
                    console.error('Error fetching branch options:', error);
                }
            });
        }
    });


    // image load in the page
    function displaySelectedLogo(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;
    
                img.onload = function () {
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');
    
                    var maxWidth = 300;
                    var maxHeight = 300;
    
                    var width = img.width;
                    var height = img.height;
    
                    if (width > maxWidth || height > maxHeight) {
                        if (width > height) {
                            height *= maxWidth / width;
                            width = maxWidth;
                        } else {
                            width *= maxHeight / height;
                            height = maxHeight;
                        }
    
                        canvas.width = width;
                        canvas.height = height;
    
                        ctx.drawImage(img, 0, 0, width, height);
    
                        // Create or select the element with ID 'selected_logo'
                        var selectedLogo = document.getElementById('selected_logo');
                        if (!selectedLogo) {
                            selectedLogo = new Image();
                            selectedLogo.id = 'selected_logo';
                            document.body.appendChild(selectedLogo); // Append the image to the body or any other appropriate container
                        }
    
                        // Set the image source to the resized image
                        selectedLogo.src = canvas.toDataURL('image/jpeg');
    
                        // Check if image size exceeds 300x300 after resizing
                        if (width > maxWidth || height > maxHeight) {
                            toastr.warning('Image size should be within 300x300 pixels.');
                        }
                    } else {
                        // If the image is within the size limit, set the image source directly
                        var selectedLogo = document.getElementById('selected_logo');
                        if (selectedLogo) {
                            selectedLogo.src = img.src;
                        }
                    }
                };
            };
    
            reader.readAsDataURL(input.files[0]);
        }
    }


    $(function () {
        $('#updatedriver').submit(function (e) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);

            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'add_update_drivers' %}",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                success: function (resp) {
                    if (success = resp.msg) {
                        toastr.success(resp.msg);
                        // clear form and img
                        clearFormAndImage();
                        location.reload();
                    } else {
                        toastr.error(resp.errmsg);
                    }
                }
            });
        });
    });

    // clear form and img
    function clearFormAndImage() {
        $('#updatedriver')[0].reset();
        
        // Set the source of the image with ID 'selected_logo' to the default image path
        $('#selected_logo').attr('src', '{% static "images/profile_img/user.png" %}');
    }
</script>