var selectedResultIndex = -1;
var items = [];
var selectedItemDetails;

        // Handle keyboard navigation
        $('#positem_name').on('keydown', function (e) {
            var dropdown = $('.typeahead.dropdown-menu');
        
            if (dropdown.is(':visible')) {
                var itemsCount = dropdown.find('.dropdown-item').length;
        
                if (e.keyCode === 40) { // Arrow down key
                    selectedResultIndex = (selectedResultIndex + 1) % itemsCount;
                    dropdown.find('.dropdown-item').removeClass('active');
                    dropdown.find('.dropdown-item').eq(selectedResultIndex).addClass('active');
                    console.log("Down Key Pressed: ", selectedResultIndex);
                    return false; // Prevent the default behavior
                }
        
                if (e.keyCode === 38) { // Arrow up key
                    selectedResultIndex = (selectedResultIndex - 1 + itemsCount) % itemsCount;
                    dropdown.find('.dropdown-item').removeClass('active');
                    dropdown.find('.dropdown-item').eq(selectedResultIndex).addClass('active');
                    console.log("Up Key Pressed: ", selectedResultIndex);
                    return false; // Prevent the default behavior
                }
        
                //if (e.keyCode === 13) { // Enter key
                //    e.preventDefault(); // Prevent the default behavior of the "Enter" key
                
                //    var activeItem = dropdown.find('.dropdown-item.active');
                
                //    if (activeItem.length > 0) {
                //        var selectedItem = activeItem.data('value');
                
                //        if (selectedItem) {
                //            var selectedItemDetails = [selectedItem];
                //            console.log("Selected Item Details: ", selectedItemDetails); // Check in the console
                
                            // Append the selected item to the table
                //            appendSelectedItemToTable(selectedItemDetails);
                
                //            clearAndFocusInput();
                
                            // Simulate a click on the active dropdown item
                //            activeItem.trigger('click');
                //        }
                //    }
                //}
            }
        });











        // This will prevent appending if no item is selected
            if (selectedResultIndex === -1) {
                clearAndFocusInput();
                return false;
            }

            var selectedItem = items[selectedResultIndex];

            // Reset the selectedResultIndex for next selection
            selectedResultIndex = -1;