{% load humanize %}
{% load static %}
<style>
    /*#uni_modal .modal-footer {
        display: none
    }

    .receipt-name {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 20px;
        border: 1px solid #c5c1c1;
        border-radius: 20px;
        margin-bottom: 0.5rem;
        font-size: 15px;
        font-weight: bolder;
    }

    .invoice_id {
        position: relative;
        display: flex;
        margin-left: -20px;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .barcodeImg {
        position: relative;
        display: flex;
        width: 70%;
        margin-top: -13px;
        margin-left: 21px;
    }

    .rec-type {
        display: flex;
    }

    .rec-align {
        font-size: 9px;
        margin-top: 0.2rem;
    }

    .py-3 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }

    table {
        border-collapse: collapse;
    }

    .receipt-logo {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        width: 20%;
    }

    .com-receipt-logo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 0px;
        left: -6px;
    }

    .paid-due-status {
        width: 56%;
        display: flex;
        align-items: stretch;
        text-align: center;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        background: #9b99998a;
        font-weight: bolder;
        border-bottom: 3px solid #8d8a8a;
        border-right: 3px solid #8d8a8a;
    }

    .status-DP {
        text-align: center;
        font-size: 11px;
        display: flex;
        justify-content: center;
        border-style: hidden !important;
    
    .sub-title1 {
        margin-top: -9px;
        margin-left: 4rem;
        width: 75%;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        text-align: center;
    }
    }*/

    .sub-title2 {
        margin-top: -8px;
    }

    .sub-title3 {
        margin-top: -8px;
    }    
</style>
<div class="container-fluid">
    <div id="outprint">
        <section>
            <table class="table" style="width: 100%; margin-bottom: 0.2rem!important; margin-top: 0.2rem!important;">
                <tr>
                    <div class="receipt-logo">
                        <img class="com-receipt-logo" alt="logo">
                    </div>
                </tr>
                <tr>
                    <center>
                        <label class="com-name">
                            <!-- Company Name Here -->
                        </label>
                    </center>
                    <center class="sub-title1">
                        <small>
                            <span class="com-address">
                                <span class="com-address-title">Address: </span>
                                <span class="com-address-name"></span>
                            </span>
                        </small>
                    </center>
                    <center class="sub-title2">
                        <small>
                            <span class="email-address-title">Email: </span>
                            <span class="com-address email-address-name"></span>
                            <span class="website-title">Website: </span>
                            <span class="website-name"></span>
                        </small>
                    </center>
                    <center class="sub-title3">
                        <small>
                            <span class="com-hotline">
                                <span class="com-hotline-title">Hotline: </span>
                                <span class="com-hotline-name"></span>
                                <span class="com-fax-title">Fax: </span>
                                <span class="com-fax-name"></span>
                            </span>
                        </small>
                    </center>
                </tr>
                <tr>

                </tr>
            </table>
            <!-- <div class="lh-1"></div> -->
            <!-- <hr> -->
            <div class="rec-type">
                <table class="table" style="width: 100%; border-style: hidden!important;">
                    <tr style="display:flex;">
                        <td style="text-align:left; width: 33.33%; border-style: hidden!important;">

                        </td>
                        <td style="text-align:center; width: 33.33%; border-style: hidden!important;">
                            <center><label class="receipt-name">Customer Copy</label></center>
                        </td>
                        <td style="text-align:left; width: 33.33%; border-style: hidden!important;">
                            <label class="invoice_id">
                                <span class="rec-align">
                                    <span class="barcodeImg">
                                        <img name="barcode" jsbarcode-value="{{transaction.inv_id}}">
                                    </span>
                                </span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="lh-1">
                <div style="width: 100%; display:flex; border: 1px solid #c5c1c1; border-left: 0; border-right: 0;">
                    <table class="table"
                        style="width: 64%; margin-bottom: 0.2rem!important; margin-top: 0.2rem!important;">
                        <tbody>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 32%; font-size: 11px; font-weight: bold;">
                                    Customer Name :</td>
                                <td style="width: 59%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.customer_name }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 32%; font-size: 11px; font-weight: bold;">
                                    Gender :
                                </td>
                                <td style="width: 59%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.gender }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 32%; font-size: 11px; font-weight: bold;">
                                    Mobile Number :
                                </td>
                                <td style="width: 59%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.mobile_number }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 32%; font-size: 11px; font-weight: bold;">
                                    Road No :
                                </td>
                                <td style="width: 59%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.road_no }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 32%; font-size: 11px; font-weight: bold;">
                                    Address :
                                </td>
                                <td style="width: 59%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.address }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table"
                        style="width: 37%; margin-bottom: 0.2rem!important; margin-top: 0.2rem!important;">
                        <tbody>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 50%; font-size: 11px; font-weight: bold;">
                                    Invoice No :
                                </td>
                                <td style="width: 40%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.inv_id }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 50%; font-size: 11px; font-weight: bold;">
                                    Invoice Date :
                                </td>
                                <td style="width: 40%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.invoice_date }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 50%; font-size: 11px; font-weight: bold;">
                                    House No :
                                </td>
                                <td style="width: 40%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.house_no }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 50%; font-size: 11px; font-weight: bold;">
                                    Sector No :
                                </td>
                                <td style="width: 40%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.sector_no }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 30%; font-size: 11px; font-weight: bold;">
                                    Area :
                                </td>
                                <td style="width: 40%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ transaction.area }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--  -->
            <table class="table receipt-table" style="width: 100%;" id="receipt-items">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:center; font-size: 11px; width: 8%;">SL</th>
                        <th scope="col" style="text-align:center; font-size: 11px; width: 35%;">Item Name</th>
                        <th scope="col" style="text-align:center; font-size: 11px; width: 18%;">Sales Rate</th>
                        <th scope="col" style="text-align:center; font-size: 11px; width: 10%;">Qty</th>
                        <th scope="col" style="text-align:center; font-size: 11px; width: 10%;">Dis.</th>
                        <th scope="col" style="text-align:center; font-size: 11px; width: 19%;">Total Amt.</th>
                    </tr>
                </thead>
                <tbody style="border-bottom: hidden!important;">
                    {% for item in salesItems %}
                    <tr>
                        <td class="mul-items-othrs">&nbsp;</td>
                        <td class="mul-items-names">{{item.item_id.item_name}}</td>
                        <td class="mul-items-othrs">{{item.sales_rate}}</td>
                        <td class="mul-items-othrs">{{item.qty_cancelQty}}</td>
                        <td class="mul-items-othrs">{{item.item_wise_disc|floatformat:"3"}}</td>
                        <td class="mul-items-othrs">{{ item.total_amount|floatformat:"0" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <!--  -->
        <section>
            <div class="lh-1">
                <div style="display:flex;">
                    <table class="table"
                        style="width: 60%; margin-bottom: 0.2rem!important; margin-top: 0.2rem!important;">
                        <tbody>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 20%; font-size: 11px; font-weight: bold;">
                                    Remarks :
                                </td>
                                <td style="text-align:left; width: 62%; font-size: 11px;">
                                    <span style="display: flex; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ paymt.remarks }}
                                    </span>
                                </td>
                            </tr>
                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 25%; font-size: 12px; font-weight: bold;">

                                </td>
                                <td class="status-DP">
                                    <input type="hidden" class="form-control paid-due-status" value=""
                                        name="duePaidStatus">
                                    <span class="form-control paid-due-status" id="duePaidStatus"></span>
                                </td>
                                <td style="text-align:left; width: 62%; font-size: 11px;">

                                </td>
                            </tr>

                            <tr style="border-style: hidden!important;">
                                <td style="text-align:right; width: 20%; font-size: 11px; font-weight: bold;">
                                    In Word :
                                </td>
                                <td style="text-align:left; width: 62%; font-size: 11px;">
                                    <span style="position: absolute; display: flex; width: 36%; margin-left: 10px; justify-content: left;align-items: center;
                                        text-align: left;flex-direction: row;flex-wrap: nowrap;">
                                        {{ numbers_as_words }} Tk. only
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- payment table -->
                    <div style="border-top: 1px solid #c5c1c1; width: 55%;">
                        <table class="table payment-table"
                            style="width: 100%; margin-bottom: 0.2rem!important; margin-top: 0.2rem!important;">
                            <tbody>

                                <tr style="border-style: hidden!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Total Amt. :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{ grand_total|floatformat:"1" }}
                                    </td>
                                </tr>
                                <tr style="border-style: hidden!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Discount Amt. (-):
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{ grand_gross_dis }}
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #c5c1c1!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Total VAT amt (+):
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{ grand_gross_vat_tax }}
                                    </td>
                                </tr>
                                <!--  -->
                                <tr style="border-style: hidden!important; border-bottom: 1px solid #c5c1c1!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Carrying Cost Seller :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{total_cost_seller_amt|floatformat:1}}
                                    </td>
                                </tr>
                                <tr style="border-style: hidden!important; border-bottom: 1px solid #c5c1c1!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Carrying Cost Buyer :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{total_cost_buyer_amt|floatformat:1}}
                                    </td>
                                </tr>
                                <!--  -->
                                <tr>
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Net Total Amt. :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{ net_total_amt }}
                                    </td>
                                </tr>
                                <tr style="border-top: 1px solid #c5c1c1!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Paid Amt. :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{ total_collection_amt|floatformat:1 }}
                                    </td>
                                </tr>
                                <tr style="border-style: hidden!important; border-bottom: 1px solid #c5c1c1!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Refund Amt. :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{refund_amt_sum|floatformat:1}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Net Paid Amt. :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        {{total_net_collection|floatformat:1}}
                                    </td>
                                </tr>
                                <tr style="border-top: 1px solid #c5c1c1!important; border-bottom: hidden!important;">
                                    <td style="text-align:right; width: 55%; font-size: 11px; font-weight: bold;">
                                        Due Amt. :
                                    </td>
                                    <td style="text-align:center; width: 40%; font-size: 11px; font-weight: bold;">
                                        <input type="hidden" id="duePaidVal" name="duePaidVal"
                                            value="{{ net_due_amt }}">
                                        {{ net_due_amt }}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <div class="clear-fix py-3"></div>
    <!--  -->
    <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-light bg-gradient border rounded-0 btn-sm me-1" type="button" id="receipt_print">
            <i class='bx bxs-printer'></i>
            Print
        </button>
        <button class="btn btn-secondary bg-gradient border rounded-0 btn-sm" type="button" data-bs-dismiss="modal">
            <i class='bx bx-window-close'></i>
            Close
        </button>
    </div>
    <!--  -->
</div>
<script>
    //<!--  -->
    $(document).ready(function () {
        let companyInfo;
    
        // Make Ajax request to get user information
        $.ajax({
            type: 'GET',
            url: '/get_user_org_informations/',
            success: function (response) {
                // Store the companyInfo data
                companyInfo = response;
    
                // Now that you have the data, update the HTML
                updateCompanyInfoUI();
            },
            error: function (error) {
                console.error('Error fetching user information:', error);
            }
        });
    
        // Function to update the HTML with companyInfo
        function updateCompanyInfoUI() {
            // Check if companyInfo is defined
            if (companyInfo) {
                // Update the HTML content
                //$('.printed-by-name').text(`${companyInfo.first_name} ${companyInfo.last_name}`);
                $('.com-name').text(companyInfo.org_name);
                $('.com-address-name').text(companyInfo.address);
                $('.email-address-name').text(companyInfo.email);
                $('.website-name').text(companyInfo.website);
                $('.com-hotline-name').text(`${companyInfo.phone}, ${companyInfo.hotline}`);
                $('.com-fax-name').text(companyInfo.fax);
                // Display the organization logo
                if (companyInfo.org_logo) {
                    $('.com-receipt-logo').attr('src', companyInfo.org_logo);
                }
            } else {
                // Handle the case where companyInfo is not available
                console.error('Company information is not available.');
            }
        }


        //<!--  -->
        $(function () {
            $('#receipt_print').click(function () {
                var head = $('head').clone();
                var p = $('#outprint').clone();
                var el = $("<div>");
        
                // Append custom styles to the head
                head.append('<style>body{background-color:unset !important}</style>');
        
                // Append title to the head
                el.find('title').text("Software By : Shariat Sunny");
                head.append('<style>.footer { position: fixed; bottom: 0; text-align: left; width: 100%; }</style>');
                
                const footerText = 'Shariat Sunny';
                const now = new Date();
                const formattedDateTime = now.toLocaleString();
                const pageNumber = 1;

                // Append your footer content
                var footerContent = 
                `<div class="footer">
                    <span class="software-woner-title">Software By: </span>
                    <span class="software-woner-name">${footerText}</span>
                    <span class="printed-by-title">- Printed By: </span>
                    <span class="printed-by-name">${companyInfo.first_name} ${companyInfo.last_name}</span>
                    <span class="printed-on-title">- Printed on: </span>
                    <span class="printed-on-date">${formattedDateTime}</span>
                    <span class="printed-page-title">- Page </span>
                    <span class="printed-page-no">${pageNumber}</span>
                </div>`;
                p.append(footerContent);
        
                // Append the modified head and content to the new window
                el.append(head);
                el.append(p);
        
                var nw = window.open('', '_blank', "width=800,height=800,left=300, top=200");
                nw.document.write(el.html());
                nw.document.close();
        
                setTimeout(() => {
                    nw.print();
                    setTimeout(() => {
                        nw.close();
                    }, 250);
                }, 300);
            });
        });

        //<!--  -->
    });

    

    // Function to generate barcode images
    function generateBarcodeImages() {
        var elements = document.querySelectorAll(".barcodeImg img");
        for (var i = 0; i < elements.length; i++) {
            var img = elements[i];
            var id = "barcode" + i; // Generate unique ID for each barcode
            img.id = id;
            var value = img.getAttribute("jsbarcode-value");
            JsBarcode("#" + id, value, {
                format: "CODE128",
                lineColor: "#000000",
                width: 1,
                height: 28,
                displayValue: false,
                fontSize: 10,
                fontOptions: "lighter",
            });
        }
    }

    // Function to clear barcode images
    function clearBarcodeImages() {
        var elements = document.querySelectorAll(".barcodeImg img");
        for (var i = 0; i < elements.length; i++) {
            var img = elements[i];
            var id = img.id;
            JsBarcode("#" + id, ""); // Clear the barcode by setting an empty string
        }
    }

    // Call generateBarcodeImages() to generate barcode images and clearBarcodeImages() to clear them.
    generateBarcodeImages();

    // To clear the barcode images when needed:
    // clearBarcodeImages();

    // Due Paid Status

    $(function () {
        var due_amt = $('#duePaidVal').val()
        if ((due_amt) > 0) {
            due_value = "Due";
        } else if ((due_amt) < 0) {
            due_value = "Need Refund";
        } else {
            due_value = "Paid";
        }
        $('#duePaidStatus').text(due_value).toLocaleString('en-US')
        $('[name="duePaidStatus"]').val(due_value)
        //console.log("Due Value:" + due_amt)
    });
</script>

<!--  -->