{% extends 'base_form/main_base/main_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_link %}
<!--========== CSS ==========-->
<link rel="stylesheet" href="{% static 'item_barcode_style/css/item_barcode.css' %}">
<!--========== from type_category js file ==========-->
<script src="{% static 'item_barcode_style/js/item_barcode.js' %}"></script>
{% endblock %}
<!--========== CONTENTS start==========-->
{% block body %}
<!-- loader start -->
<div class="loader"></div>
<!-- loader end -->
<main>
    <section>
        <div class="container-fluid">
            <!-- Main Heading -->
            <div class="row">
                <div class="col col-md-4 col-md-6 dashboar-head">
                    <div class="d-sm-flex align-items-center mb-2">
                        <i class='bx bx-barcode text-success req-head-icon'></i>
                        <h1 class="h3 text-success req-head">Item Wise Barcode Print</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <section>
        <div class="card" style="margin-bottom: 0.5rem;">
            <div class="card-body">
                <div class="report-filter">
                    <!-- Date Range Filter -->
                    <div class="date-range">
                        <div class="row date_range-body" style="display:flex; font-size: 0.8rem;">
                            <div class="date_range-element" style="display:flex">
                                <div class="row store_row" style="flex-grow: 1;">
                                    <label for="id_batch_store" class="col-auto col-form-label">
                                        Store Name:
                                    </label>
                                    <div class="col-sm-8">
                                        <select id="id_batch_store" name="batch_store" class="form-select store_Selectbox"
                                            aria-label="Default select example" required>
                                            {% for store in store_data %}
                                            <option id="{{store.store_id}}" value="{{store.store_id}}">
                                                {{store.store_name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="row store_row" style="flex-grow: 2;">
                                    <label for="id_item_batch" class="col-auto col-form-label">
                                        Batch Name:
                                    </label>
                                    <div class="col-sm-6">
                                        <select id="id_item_batch" name="item_batch" class="form-select store_Selectbox"
                                            aria-label="Default select example" required>
                                            {% for batch in stock_batch %}
                                            <option id="{{batch.item_id}}" value="{{batch.item_batch}}">
                                                {{batch.item_batch}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!--  -->
                                <div class="row g-3 align-items-center" style="flex-grow: 0;">
                                    <div class="col-auto">
                                        <button id="allBarcodePrint" class="btn btn-success invBtn btn-xs text-white"
                                            style="display: flex; margin-right: 0.5rem; justify-content: center; align-items: center; text-align: center;">
                                            <i class='bx bx-printer printIcon text-white' style="margin-right: 0.5rem;"></i>
                                            Selected Print
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <!-- containt start -->
    <section>
        <div class="card">
            <div class="card-body" style="padding: 0.2rem 0.2rem;">
                <div class="col-xl-12">
                    <tr>
                        <th colspan="4"
                            style="text-align:center; background: #fff !important;">
                            <input type="text" id="id_search_item_bw" name="search_item_bw"
                                class="form-control search_control item_inputbox"
                                style="margin-bottom: 0.3rem; background:#fffab6;"
                                placeholder="Searching ..." autocomplete="off">
                        </th>
                    </tr>
                    <div class="table-body" style="border: 1px solid #3da9b8;">
                        <table id="stock_batchTB" class="table table-striped" style="width: 100%;">
                            <thead class="text-center table-header">
                                <tr style="border-style: hidden!important;">
                                    <th style="text-align:center; width: 3%;">SL</th>
                                    <th style="text-align:center; width: 6%;">Item No</th>
                                    <th style="text-align:center; width: 23%;">Item Name</th>
                                    <th style="text-align:center; width: 6%;">Type</th>
                                    <th style="text-align:center; width: 6%;">UoM</th>
                                    <th style="text-align:center; width: 10%;">Batch</th>
                                    <th style="text-align:center; width: 10%;">Supplier</th>
                                    <th style="text-align:center; width: 10%;">Manufacturer</th>
                                    <th style="text-align:center; width: 13%;">Store Name</th>
                                    <th style="text-align:center; width: 7%;">Status</th>
                                    <th style="text-align:center; width: 2%;">
                                        <input type="checkbox" value="" name="select_all" id="select_all"
                                                class="form-check-input select_checkbox">
                                    </th>
                                    <th style="text-align:center; width: 10%;">Option</th>
                                </tr>
                            </thead>
                            <tbody class="table-body-row">
                                <!--  -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- containt end  -->
    <script>
        $(document).ready(function() {
            // When select_all checkbox is clicked
            $('#select_all').click(function() {
                // Check or uncheck all item_select checkboxes based on select_all's state
                $('input[name="item_select[]"]').prop('checked', this.checked);
        
                // Check if any item_select checkbox is checked
                checkAnyChecked();
            });
        
            // When any item_select checkbox is clicked
            $('input[name="item_select[]"]').click(function() {
                // If all item_select checkboxes are checked, check the select_all checkbox; otherwise, uncheck it
                if ($('input[name="item_select[]"]:checked').length === $('input[name="item_select[]"]').length) {
                    $('#select_all').prop('checked', true);
                } else {
                    $('#select_all').prop('checked', false);
                }
        
                // Check if any item_select checkbox is checked
                checkAnyChecked();
            });
        
            // Function to check if any checkbox is checked
            function checkAnyChecked() {
                const anyChecked = $('.selected-item:checked').length > 0;
                $('#allBarcodePrint').prop('disabled', !anyChecked);
            }
        
            // Check initially on page load
            checkAnyChecked();
        
            // Listen for checkbox changes using delegation
            $(document).on('change', '.selected-item', function() {
                checkAnyChecked();
            });
        });

        //<!--  -->
        // Function to fetch and populate table data based on selected store_id
        const fetchBatchTableData = function(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery) {
            setTimeout(function() { 
                $.ajax({
                    type: 'GET',
                    url: '/get_item_wise_barcode/',
                    data: {
                        store_id: selectedBatchStoreId,
                        item_batch: selectedBatchId,
                        search_item_bw: itemBatchWsearchQuery
                    },
                    success: function(response) {
                        if (response && response.data) {
                            const stockBatchData = response.data;
                            stockBatchData.sort((a, b) => a.total_stockQty - b.total_stockQty);
                            $('#stock_batchTB tbody').empty();
                            stockBatchData.forEach(function(data, index) {
                                // Check if `status` is defined and set `statusText` and `statusBackground` accordingly
                                const statusText = data.status === true ? 'Printed' : 'Not Print';
                                const statusBackground = data.status === true ? 'green' : 'red';
                    
                                $('#stock_batchTB tbody').append(`
                                    <tr>
                                        <td style="text-align:center;">
                                            ${index + 1}
                                            <input type="number" name="stock_id[]" value="${data.stock_id}" style="display: none;">
                                            <input type="number" name="item_id[]" value="${data.item_id}" style="display: none;">
                                            <input type="number" name="store_id[]" value="${data.store_id}" style="display: none;">
                                        </td>
                                        <td style="text-align:center;">
                                            ${data.item_no}
                                            <input type="number" name="item_id[]" value="${data.item_id}" style="display: none;">
                                        </td>
                                        <td style="text-align:left;">
                                            ${data.item_name}
                                            <input type="text" name="item_name[]" value="${data.item_name}" style="display: none;">
                                        </td>
                                        <td style="text-align:center;">${data.item_type}</td>
                                        <td style="text-align:center;">${data.item_uom}</td>
                                        <td style="text-align:center;">${data.item_batch}</td>
                                        <td style="text-align:center;">${data.item_Supplier}</td>
                                        <td style="text-align:center;">${data.item_Manufacturer}</td>
                                        <td style="text-align:center;">
                                            ${data.store_name}
                                            <input type="number" name="store_id[]" value="${data.store_id}" style="display: none;">
                                        </td>
                                        <td style="text-align:center;">
                                            <span class="barcode_status" data-stock_id="${data.stock_id}" style="background: ${statusBackground};">${statusText}</span>
                                        </td>
                                        <td style="text-align:center;">
                                            <input type="checkbox" value="${data.item_id}" name="item_select[]" class="selected-item form-check-input" data-stock_id="${data.stock_id}" data-item_id="${data.item_id}">
                                        </td>
                                        <td style="text-align:center;">
                                            <button type="button"
                                                class="btn btn-info printBtn table-row-btn btn-xs text-white view-data" data-stock_id="${data.stock_id}" data-item_id="${data.item_id}">
                                                <i class='bx bx-printer printIcon text-white'></i>
                                            </button>
                                        </td>
                                    </tr>
                                `);
                            });
                        }
                    },
                    error: function(error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }, 100);
        };


        // Ensure generateBarcode is defined outside the document ready function
        function generateBarcode(itemId, stockId) {
            $.ajax({
                type: 'POST',
                url: '/generate_item_wise_barcode/',
                data: {
                    item_id: itemId,
                    stock_id: stockId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Barcode generated for stock ID:', stockId);
                    const barcodeImageUrl = response.barcode_image_url;

                    const img = new Image();
                    img.onload = function () {
                        const canvas = document.createElement('canvas');
                        canvas.width = img.width;
                        canvas.height = img.height;
                        const ctx = canvas.getContext('2d');
                        ctx.drawImage(img, 0, 0);

                        const dataURL = canvas.toDataURL();
                        openBarcodeWindow(dataURL, stockId);
                    };
                    img.src = barcodeImageUrl;
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error generating barcode for stock ID:', stockId, errorThrown);
                }
            });
        }

        function openBarcodeWindow(dataURL, stockId) {
            const newWindow = window.open('', '_blank');
            newWindow.document.write(`
                <html style="background-color: hsl(0deg 0.22% 10.21%);">
                    <head>
                        <title>Item Barcodes</title>
                        <style>
                            body {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                height: 100vh;
                                margin: 0;
                                background-color: hsl(0deg 0.22% 10.21%);
                                position: relative;
                            }
                            img {
                                width: 300px;
                                height: 150px;
                                margin-bottom: 10px;
                            }
                            button {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                padding: 5px 10px;
                                background-color: #4CAF50;
                                color: white;
                                border: none;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                            button:hover {
                                background-color: #45a049;
                            }
                        </style>
                    </head>
                    <body>
                        <img src="${dataURL}" alt="Barcode">
                        <button id="printButton" onclick="printAndHideButton(this);">Print</button>
                        <script>
                            function printAndHideButton(button) {
                                button.style.display = 'none';
                                window.print();
                            }

                            window.onafterprint = function() {
                                document.getElementById('printButton').style.display = 'block';
                            };
                        <\/script>
                    </body>
                </html>
            `);
            newWindow.document.close();

            setTimeout(() => {
                fetchBarcodeStatus(stockId);

                const selectedBatchStoreId = $('#id_batch_store').val();
                const selectedBatchId = $('#id_item_batch').val();
                const itemBatchWsearchQuery = $('#id_search_item_bw').val().trim();
                fetchBatchTableData(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery);
            }, 100);
        }

        function fetchBarcodeStatus(stockId) {
            $.ajax({
                type: 'GET',
                url: `/get_barcode_updated_status/${stockId}`,
                success: function (response) {
                    const statusText = response.status ? 'Printed' : 'Not Print';
                    const statusBackground = response.status ? 'green' : 'red';
                    const barcodeStatusElem = $(`.barcode_status[data-stock_id="${stockId}"]`);

                    if (barcodeStatusElem.length > 0) {
                        barcodeStatusElem.text(statusText).css('background', statusBackground);
                    } else {
                        console.warn(`Element with data-stock_id="${stockId}" not found.`);
                    }
                },
                error: function (error) {
                    console.error('Error fetching barcode status:', error);
                }
            });
        }

        $(document).ready(function () {
            // Search input event listener
            $('#id_search_item_bw').on('input', function () {
                const itemBatchWsearchQuery = $(this).val().trim();
                const selectedBatchStoreId = $('#id_batch_store').val();
                const selectedBatchId = $('#id_item_batch').val();
                fetchBatchTableData(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery);
            });

            // Dropdown change event listeners
            $('#id_batch_store, #id_item_batch').change(function () {
                const selectedBatchStoreId = $('#id_batch_store').val();
                const selectedBatchId = $('#id_item_batch').val();
                const itemBatchWsearchQuery = $('#id_search_item_bw').val().trim();
                fetchBatchTableData(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery);
            });

            // Fetch data on page load with default values
            const defaultStoreId = $('#id_batch_store').val();
            const defaultBatchId = $('#id_item_batch').val();
            fetchBatchTableData(defaultStoreId, defaultBatchId);

            // Print button click event listener
            $(document).on('click', '.printBtn', function () {
                const itemId = $(this).data('item_id');
                const stockId = $(this).data('stock_id');
                console.log('Button Data:', $(this).data());

                if (stockId) {
                    generateBarcode(itemId, stockId);
                } else {
                    console.error('Error: stockId is undefined for itemId:', itemId);
                }
            });
        });

        //===========================================================
        $(document).ready(function () {
            // Main logic inside document ready
        
            $('#id_search_item_bw').on('input', function () {
                const itemBatchWsearchQuery = $(this).val().trim();
                const selectedBatchStoreId = $('#id_batch_store').val();
                const selectedBatchId = $('#id_item_batch').val();
                fetchBatchTableData(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery);
            });
        
            $('#id_batch_store, #id_item_batch').change(function () {
                const selectedBatchStoreId = $('#id_batch_store').val();
                const selectedBatchId = $('#id_item_batch').val();
                const itemBatchWsearchQuery = $('#id_search_item_bw').val().trim();
                fetchBatchTableData(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery);
            });
        
            const defaultStoreId = $('#id_batch_store').val();
            const defaultBatchId = $('#id_item_batch').val();
            fetchBatchTableData(defaultStoreId, defaultBatchId);
        
            $(document).on('click', '.printBtn', function () {
                const itemId = $(this).data('item_id');
                const stockId = $(this).data('stock_id');
        
                console.log('Button Data:', $(this).data());
        
                if (stockId) {
                    generateBarcode(itemId, stockId);
                } else {
                    console.error('Error: stockId is undefined for itemId:', itemId);
                }
            });
        
            $('#allBarcodePrint').click(function () {
                var selectedItemIds = [];
                var selectedStockIds = [];
        
                $('.selected-item').each(function () {
                    if ($(this).is(':checked')) {
                        selectedItemIds.push($(this).data('item_id'));
                        selectedStockIds.push($(this).data('stock_id'));
                    }
                });
        
                $.ajax({
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    url: "{% url 'generate_all_barcode' %}",
                    data: {
                        'item_id[]': selectedItemIds,
                        'stock_id[]': selectedStockIds,
                    },
                    method: 'POST',
                    dataType: 'json',
                    traditional: true,
                    success: function (response) {
                        const multibarcodeImageUrls = response.mult_barcode_img_urls;
                        const newWindow = window.open('', '_blank');
                        newWindow.document.write(`
                            <html style="background-color: hsl(0deg 0.22% 10.21%);">
                                <head>
                                    <title>Item Barcodes</title>
                                    <style>
                                        button {
                                            position: absolute;
                                            top: 10px;
                                            right: 10px;
                                            padding: 5px 10px;
                                            background-color: #4CAF50;
                                            color: white;
                                            border: none;
                                            border-radius: 5px;
                                            cursor: pointer;
                                        }
                                        button:hover {
                                            background-color: #45a049;
                                        }
                                    </style>
                                </head>
                                <body>
                                    <ol style="list-style: none; padding: 0; display: grid; flex-wrap: wrap; gap: 10px; justify-content: center;">
                                    </ol>
                                    <button id="printButton" onclick="printAndHideButton(this);">Print</button>
                                    <script>
                                        function printAndHideButton(button) {
                                            button.style.display = 'none';
                                            window.print();
                                        }

                                        window.onafterprint = function() {
                                            document.getElementById('printButton').style.display = 'block';
                                        };
                                    <\/script>
                                </body>
                            </html>
                        `);
        
                        const list = newWindow.document.querySelector('ol');
        
                        multibarcodeImageUrls.forEach(function (url) {
                            const img = new Image();
                            img.src = url;
        
                            img.onload = function () {
                                const canvas = document.createElement('canvas');
                                canvas.width = img.naturalWidth;
                                canvas.height = img.naturalHeight;
                                const ctx = canvas.getContext('2d');
                                ctx.imageSmoothingEnabled = true;
                                ctx.imageSmoothingQuality = 'high';
                                ctx.drawImage(img, 0, 0);
        
                                const dataURL = canvas.toDataURL('image/png', 1.0);
        
                                const listItem = newWindow.document.createElement('li');
                                listItem.innerHTML = `
                                    <img src="${dataURL}" 
                                        style="display: block; 
                                               width: 300px; 
                                               height: 150px; 
                                               margin: 10px; 
                                               background-color: hsl(0, 0%, 90%); 
                                               transition: background-color 300ms;">
                                `;
                                list.appendChild(listItem);
                            };
                        });
        
                        setTimeout(function () {
                            selectedStockIds.forEach(function (stockId) {
                                fetchBarcodeStatus(stockId);  // Ensure each stockId is passed correctly
                            });
        
                            const selectedBatchStoreId = $('#id_batch_store').val();
                            const selectedBatchId = $('#id_item_batch').val();
                            const itemBatchWsearchQuery = $('#id_search_item_bw').val().trim();
                            fetchBatchTableData(selectedBatchStoreId, selectedBatchId, itemBatchWsearchQuery);
                        }, 100);
                    },
                    error: function (xhr, status, error) {
                        toastr.error(error);
                    }
                });
            });
        });
        //===========================================================
        
        // Get the select element in local storage **Store 
        const selectElement = document.getElementById('id_batch_store');

        // Check if there's a stored value in local storage
        const storedValue = localStorage.getItem('selectedStore');

        // Set the select element's value from local storage if available
        if (storedValue) {
            selectElement.value = storedValue;
        }

        // Add event listener to save the selected value in local storage on change
        selectElement.addEventListener('change', function() {
            localStorage.setItem('selectedStore', this.value);
        });

        // Get the select element in local storage **Batch 
        const selectBatchElement = document.getElementById('id_item_batch');

        // Check if there's a stored value in local storage
        const batchValue = localStorage.getItem('selectedBatch');

        // Set the select element's value from local storage if available
        if (batchValue) {
            selectBatchElement.value = batchValue;
        }

        // Add event listener to save the selected value in local storage on change
        selectBatchElement.addEventListener('change', function() {
            localStorage.setItem('selectedBatch', this.value);
        });

        // loader scrt
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader");

            loader.classList.add("loader-hidden");

            loader.addEventListener("transitionend", () => {
                // document.body.removeChild("loader");
            });
        });
    </script>
</main>
{% endblock %}