{% load static %}
<div class="col-sm-12">
    <div class="card main-card">
        <div class="card-body card-body_item_setup">
            <div class="itemsetup_container">
                <form action="" method="" id="updateuser_form">
                    <input type="hidden" name="user_id" value="{% if user_data.pk %}{{user_data.pk}}{% endif %}">
                    <div class="add_edit_head">
                        <h2 class="text-primary">Update User Information</h2>
                    </div>
                    <div class="modal_closer">
                        <button type="button" class="btn bg-danger text-white closerBtn"
                            data-bs-dismiss="modal">X</button>
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="card add_user_card">
                                <div class="card-body">
                                    <div class="user_add_body">
                                        <div class="sub_body_one">
                                            <div class="row add_user_row">
                                                <div class="row g-3 align-items-center" id="div_id_username">
                                                    <div class="col-sm-2">
                                                        <label for="id_username"
                                                            class="col-form-label font_size required">Username:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 adduser_col">
                                                        <input type="text"
                                                            value="{% if user_data.username %}{{user_data.username}}{% endif %}"
                                                            class="form-control form_adduser_body" id="id_username"
                                                            name="username" maxlength="150" required autocomplete="off">
                                                    </div>
                                                    <div class="col-auto form-text-col">
                                                        <span id="hint_id_username" class="help-block">
                                                            <li>Required. 150 characters or fewer. Letters, digits
                                                                and @/./+/-/_ only.</li>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_org">
                                                    <div class="col-sm-2">
                                                        <label for="id_org"
                                                            class="col-form-label font_size required">
                                                            Organization:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 adduser_col">
                                                        <select id="id_org" name="org_id" class="form-select form-control form_adduser_body" aria-label="Default select example" required>
                                                            <option value="" selected disabled>Choose Organization ...</option>
                                                            {% if user_data and user_data.org_id %}
                                                                {% for org in org_list %}
                                                                    <option value="{{ org.org_id }}" {% if user_data.org_id == org.org_id %} selected {% endif %}>
                                                                        {{ org.org_name }}
                                                                    </option>
                                                                {% endfor %}
                                                            {% else %}
                                                                {% for org in org_list %}
                                                                    <option value="{{ org.org_id }}">
                                                                        {{ org.org_name }}
                                                                    </option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_branch_name">
                                                    <div class="col-sm-2">
                                                        <label for="id_branch_name"
                                                            class="col-form-label font_size required">
                                                            Branch:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 adduser_col">
                                                        <select id="id_branch_name" name="branch_id" class="form-select form-control form_adduser_body"
                                                            aria-label="Default select example" required>
                                                            <!--  -->
                                                            
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_first_name">
                                                    <div class="col-sm-2">
                                                        <label for="id_first_name"
                                                            class="col-form-label font_size required">First
                                                            name:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 adduser_col">
                                                        <input type="text"
                                                            value="{% if user_data.first_name %}{{user_data.first_name}}{% endif %}"
                                                            class="form-control form_adduser_body" id="id_first_name"
                                                            name="first_name" required autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_last_name">
                                                    <div class="col-sm-2">
                                                        <label for="id_last_name"
                                                            class="col-form-label font_size required">Last
                                                            name:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 adduser_col">
                                                        <input type="text"
                                                            value="{% if user_data.last_name %}{{user_data.last_name}}{% endif %}"
                                                            class="form-control form_adduser_body" id="id_last_name" name="last_name" 
                                                            autocomplete="off" required>
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_email">
                                                    <div class="col-sm-2">
                                                        <label for="id_email"
                                                            class="col-form-label font_size required">Email:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 adduser_col">
                                                        <input type="email"
                                                            value="{% if user_data.email %}{{user_data.email}}{% endif %}"
                                                            class="form-control form_adduser_body emailinput"
                                                            id="id_email" name="email" required autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_is_active"
                                                    style="margin-top: 5px;">
                                                    <div class="col-auto form-check_m" style="margin-right: 1.9rem;">
                                                        <label class="form-check-label font_size checkbox"
                                                            for="id_is_active">
                                                            Active User:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 form-check_m form-switch">
                                                        {% if user_data.is_active == 1 %}
                                                        <input type="checkbox" class="form-check-input checkboxinput" value="1"
                                                            name="is_active" id="id_is_active" checked="checked">
                                                        {% else %}
                                                        <input type="checkbox" class="form-check-input checkboxinput" value="0"
                                                            name="is_active" id="id_is_active">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-auto form-text-col">
                                                        <span id="hint_id_is_active" class="help-block">
                                                            <li>Designates whether this user should be treated as
                                                                active. Unselect
                                                                this instead of deleting accounts.</li>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!--  -->

                                                <div class="row g-3 align-items-center" id="div_id_designation">
                                                    <div class="col-sm-2">
                                                        <label for="id_designation"
                                                            class="col-form-label sec_prt_font_s required">Designation:
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-8 adduser_col">
                                                        <input type="text"
                                                            value="{% if user_data.designation %}{{user_data.designation}}{% endif %}"
                                                            class="form-control form_adduser_body" id="id_designation"
                                                            name="designation" required autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_phone_no">
                                                    <div class="col-sm-2">
                                                        <label for="id_phone_no"
                                                            class="col-form-label sec_prt_font_s">Phone No:
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-8 adduser_col">
                                                        <input type="number"
                                                            value="{% if user_data.phone_no %}{{user_data.phone_no}}{% endif %}"
                                                            class="form-control form_adduser_body" id="id_phone_no"
                                                            name="phone_no" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_expiry_date">
                                                    <div class="col-sm-2">
                                                        <label for="id_expiry_date"
                                                            class="col-form-label sec_prt_font_s">Expiry
                                                            Date:
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-8 adduser_col">
                                                        <input type="text"
                                                            value="{% if user_data.expiry_date %}{{user_data.expiry_date|date:'Y-m-d'}}{% endif %}"
                                                            class="form-control form_adduser_body datepicker"
                                                            id="id_expiry_date" name="expiry_date" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="row g-3 align-items-center" id="div_id_expiry_status"
                                                    style="margin-top: 5px;">
                                                    <div class="col-sm-2">
                                                        <label class="form-check-label checkbox sec_prt_font_s"
                                                            for="id_expiry_status">
                                                            Expiry Status:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-8 form-check_m form-switch"
                                                        style="margin-left: 0.5rem;">
                                                        {% if user_data.expiry_status == 1 %}
                                                        <input type="checkbox" class="form-check-input checkboxinput" value="1"
                                                            name="expiry_status" id="id_expiry_status" checked="checked">
                                                        {% else %}
                                                        <input type="checkbox" class="form-check-input checkboxinput" value="0"
                                                            name="expiry_status" id="id_expiry_status">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-sm-5" style="border-left: 1px solid rgba(0, 0, 0, .125);">
                            <div class="card add_user_card_other">
                                <div class="card-body">
                                    <!-- image -->
                                    <div class="profile-container px-4" id="div_id_profile_img">
                                        <div class="row gx-5 user-profile">
                                            <div class="col user-profile-img">
                                                <div class="user-img">
                                                    <div class="profile-pic">
                                                        <div id="display_image">
                                                            <img class="img-viewer" id="selected_image" src="{% if user_data.profile_img %}{{ user_data.profile_img.url }}{% else %}{% static 'images/profile_img/user.png' %}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="form-row field-profile_img profile-icon">
                                                        <div>
                                                            <label for="id_profile_img">
                                                                <i class="bx bxs-camera profile-upload-icon"></i>
                                                            </label>
                                                            <input type="file" name="profile_img" accept="image/*" id="id_profile_img" 
                                                            style="display:none;" onchange="displaySelectedImage(this);">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- image end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="usersetup_modal-footer"
                        style="display: flex; justify-content: right; align-items: center; text-align: center; margin-bottom: 1rem;">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            style="font-size: 0.85rem; padding: 0.5rem; margin-right: 1rem;">
                            Close
                        </button>
                        <button id="edutUserBtn" name="submit" type="submit" class="btn btn-success"
                            style="font-size: 0.85rem; padding: 0.5rem; margin-right: 1rem;">
                            Update User
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    //
    $(document).ready(function () {
        // Initial population of branch options based on the selected organization
        editUpdateBranchOptions();
    
        // Add change event listener to the organization dropdown
        $('#id_org').on('change', function () {
            // Update branch options whenever the organization dropdown changes
            editUpdateBranchOptions();
        });
    
        function editUpdateBranchOptions() {
            // Get the selected organization ID
            var selectedEditOrgId = $('#id_org').val();
    
            // Make an AJAX request to get branch options based on the selected organization
            $.ajax({
                url: '/get_branch_options/',  // Replace with your actual URL for fetching branch options
                method: 'GET',
                data: { org_id: selectedEditOrgId },
                success: function (data) {
                    // Clear existing options
                    $('#id_branch_name').empty();
    
                    // Add default option
                    $('#id_branch_name').append('<option value="" selected disabled>Choose Branch ...</option>');
    
                    // Add fetched branch options
                    $.each(data.branch_list, function (index, branch) {
                        var selected = '';
                        // Check if the branch_id matches user_data's branch_id
                        if (branch.branch_id == '{{ user_data.branch_id }}') {
                            selected = 'selected';
                        }
    
                        $('#id_branch_name').append('<option value="' + branch.branch_id + '" ' + selected + '>' + branch.branch_name + '</option>');
                    });
                },
                error: function (error) {
                    console.error('Error fetching branch options:', error);
                }
            });
        }
    });

    // Date picker
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true
        });
    });

    $(function () {
        $('#updateuser_form').submit(function (e) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            var user_id = formData.get('user_id');  // Get user_id from the form data
    
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'update_user_setup' user_id=0 %}".replace('0', user_id),  // Replace 0 with user_id
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                dataType: 'json',
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        toastr.success(resp.msg);
                        setTimeout(function () { location.reload() }, 300);
                    } else {
                        toastr.error(resp.errmsg);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    toastr.error("An error occurred while processing the request.");
                }
            });
        });
    });
</script>