<style>
    .btn-height {
        line-height: 0.6;
        padding: 0.175rem 0.5rem;
        font-size: 1.2rem;
    }
</style>

<div class="col-sm-12">
    <div class="card main-card">
        <div class="card-body card-body_item_setup">
            <div class="itemsetup_container">
                <form action="" method="" id="passCh_form">
                    <div class="change_pass_head" style="margin-bottom: 0.5rem;">
                        <h2 class="text-primary">Change Password Information</h2>
                    </div>
                    <!--  -->
                    <section>
                        <div class="user-info">
                            <table class="table access-table" style="width:98%; margin-bottom: 0rem;">
                                <tbody style="display:flex; height: 28px; justify-content: space-between;">
                                    <tr class="user-infobody" style="width: 30%;">
                                        <td style="display: flex; align-items: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <i class='bx bx-objects-horizontal-center userInfo-icon'></i>
                                            <!--  -->
                                            <input type="hidden" class="form-control " value="{{user_data.user_id}}"
                                                id="user_id" name="user_id">
                                            <span style="margin-left: 10px; font-size: 0.7rem;">
                                                {% if user_data.user_id %}{{user_data.user_id}}{% endif %}</span>
                                        </td>
                                    </tr>
                                    <tr class="user-infobody" style="width: 68%;">
                                        <td style="display: flex; align-items: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <i class='bx bx-user userInfo-icon'></i>
                                            <span style="margin-left: 10px; font-size: 0.7rem;">
                                                {% if user_data.first_name %}{{user_data.first_name}}{% endif %}
                                                {% if user_data.last_name %}{{user_data.last_name}}{% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!--  -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card add_user_card">
                                <div class="card-body">
                                    <div class="user_add_body">
                                        <div class="sub_body_one">
                                            <div class="row add_user_row">
                                                <div class="row g-3 align-items-center" id="div_id_password1">
                                                    <div class="col-sm-3">
                                                        <label for="id_password1"
                                                            class="col-form-label font_size required">
                                                            Password:
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-9 adduser_col" style="display: flex; align-items: center;">
                                                        <input type="password"
                                                            class="form-control password form_adduser_body textinput textInput"
                                                            id="id_password1" name="password1"
                                                            autocomplete="new-password" required autocomplete="off" minlength="8">
                                                        <i class="bx bx-hide showHidePw username_icon" style="position: absolute; display: flex; color: blue; right: 2.5rem; cursor: pointer; font-size: 1.2rem; "></i>
                                                    </div>
                                                    <div class="col-auto form-text-col">
                                                        <span id="hint_id_password1" class="help-block">
                                                            <li>
                                                                Your password can't be too similar to your other
                                                                personal information.
                                                            </li>
                                                            <li>
                                                                Your password must contain at least 8 characters.
                                                            </li>
                                                            <li>
                                                                Your password can't be a commonly used password.
                                                            </li>
                                                            <li>
                                                                Your password can't be entirely numeric.
                                                            </li>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="usersetup_modal-footer"
                        style="display: flex; justify-content: right; align-items: center; text-align: center; margin-bottom: 1rem;">
                        <button type="button" class="btn btn-height btn-danger" data-bs-dismiss="modal"
                            style="font-size: 0.85rem; padding: 0.5rem; margin-right: 1rem;">
                            Close
                        </button>
                        <button id="passchangeBtn" name="submit" type="submit" class="btn btn-height btn-success"
                            style="font-size: 0.85rem; padding: 0.5rem; margin-right: 1rem;">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // password show hide scrpt
        const pwShowHide = document.querySelectorAll(".showHidePw"),
            pwFields = document.querySelectorAll(".password");

        //   js code to show/hide password and change icon
        pwShowHide.forEach(eyeIcon => {
            eyeIcon.addEventListener("click", () => {
                pwFields.forEach(pwField => {
                    if (pwField.type === "password") {
                        pwField.type = "text";

                        pwShowHide.forEach(icon => {
                            icon.classList.replace("bx-hide", "bx-show");
                        })
                    } else {
                        pwField.type = "password";

                        pwShowHide.forEach(icon => {
                            icon.classList.replace("bx-show", "bx-hide");
                        })
                    }
                })
            })
        })
    })

    $(function () {
        $('#passCh_form').submit(function (e) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'update_user_password' %}",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                dataType: 'json',
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        toastr.success(resp.msg);
                        setTimeout(function () { location.reload() }, 300);
                    } else {
                        toastr.error(resp.errmsg);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    toastr.error("An error occurred while processing the request.");
                }
            });
        });
    });
</script>