<style>
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        background-color: #fff;
        margin: 0;
        box-shadow: 0 0.25rem 0.5rem #e6edef;
        color: #495057;
    }

    .main-card {
        border: 0;
        box-shadow: none;
    }

    .card-body_item_setup {
        flex: 1 1 auto;
        padding: 0.5rem 0.2rem;
    }

    .itemsetup_container {
        position: relative;
        /* height: 70vh; */
        margin-top: 8px;
        border: 1px solid rgb(211, 211, 211);
        /* background: rgba(216, 216, 216, 0.767); */
    }

    .change_pass_head {
        position: relative;
        display: flex;
        margin-top: -17px;
        margin-left: 25px;
        width: 55%;
        height: 33px;
        background: #fff;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 35px;
    }

    .change_pass_head h2 {
        position: absolute;
        display: flex;
        font-size: 14px;
        color: rgb(126, 126, 126);
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .user-info {
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgb(217 248 230);
        height: 40px;
        align-items: center;
        text-align: center;
    }

    .user-infobody {
        display: flex;
        background: #fff;
        border: 1px solid #c0c0c0;
        border-style: dashed;
        border-radius: 21px;
        font-size: 0.8rem;
        justify-content: left;
        align-items: center;
        text-align: center;
    }

    .userInfo-icon {
        font-size: 1rem;
        color: royalblue;
        font-weight: bold;
    }

    .add_user_card {
        border: 0;
        background: none;
        box-shadow: none;
    }

    .add_user_card_other {
        border: 0;
        /* border-left: 1px solid rgba(0, 0, 0, .125); */
        border-radius: 0;
        background: none;
        box-shadow: none;
    }

    .font_size {
        font-size: 0.9rem;
    }

    .help-block {
        position: relative;
        display: block;
        font-size: 11px;
        font-weight: 400;
        color: rgb(145 145 145);
        margin-bottom: 5px;
    }

    .form-control_mody {
        padding: 0.175rem 0.25rem 0.175rem 0.75rem;
        font-size: 0.8rem;
        border: 1px solid rgb(133, 196, 255);
    }

    .form-control_mody:hover {
        background: #d3ffef;
    }

    .add_user_card {
        border: 0;
        background: none;
        box-shadow: none;
    }

    .g-3,
    .gy-3 {
        --bs-gutter-y: 0rem !important;
    }

    /*.table {
        border: 0 !important;
    }

    tr:nth-child(even) {
        background-color: #fff !important;
    }*/

    .btn-height {
        line-height: 0.6;
        padding: 0.175rem 0.5rem;
        font-size: 1.2rem;
    }

    /*.table>:not(caption)>*>* {
        padding: 0rem 0rem;
    }*/

    @media (min-width: 576px) {
        .col-sm-3_mody {
            flex: 0 0 auto;
            width: 25%;
        }
    }

    @media (min-width: 1200px) {
        .col-sm-9_mody {
            flex: 0 0 auto;
            width: 75%;
        }
    }

    @media (min-width: 576px) {
        .col-sm-12_mody {
            flex: 0 0 auto;
            width: 100%;
        }
    }
</style>

<div class="col-sm-12_mody">
    <div class="card main-card">
        <div class="card-body card-body_item_setup">
            <div class="itemsetup_container">
                <form action="" method="" id="passCh_form">
                    <div class="change_pass_head" style="margin-bottom: 0.5rem;">
                        <h2 class="text-primary">Change Password Information</h2>
                    </div>
                    <!--  -->
                    <section>
                        <div class="user-info">
                            <table class="table access-table" style="width:98%; margin-bottom: 0rem;">
                                <tbody style="display:flex; height: 28px; justify-content: space-between;">
                                    <tr class="user-infobody" style="width: 30%;">
                                        <td
                                            style="display: flex; margin-left: 10px; align-items: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 0;">
                                            <i class='bx bx-objects-horizontal-center userInfo-icon'></i>
                                            <!--  -->
                                            <input type="hidden" class="form-control " value="{{user_data.user_id}}"
                                                id="user_id" name="user_id">
                                            <span style="margin-left: 10px; font-size: 0.7rem;">
                                                {% if user_data.user_id %}{{user_data.user_id}}{% endif %}</span>
                                        </td>
                                    </tr>
                                    <tr class="user-infobody" style="width: 68%;">
                                        <td
                                            style="display: flex; margin-left: 10px; align-items: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 0;">
                                            <i class='bx bx-user userInfo-icon'></i>
                                            <span style="margin-left: 10px; font-size: 0.7rem;">
                                                {% if user_data.first_name %}{{user_data.first_name}}{% endif %}
                                                {% if user_data.last_name %}{{user_data.last_name}}{% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!--  -->
                    <div class="row">
                        <div class="col-sm-12_mody">
                            <div class="card add_user_card">
                                <div class="card-body">
                                    <div class="user_add_body">
                                        <div class="sub_body_one">
                                            <div class="row add_user_row">
                                                <div class="row row_modify g-3_mody gx-3_mody g-3 align-items-center"
                                                    id="div_id_password1">
                                                    <div class="col-sm-3_mody">
                                                        <label for="id_password1"
                                                            class="col-form-label font_size required">
                                                            Password:
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-9_mody adduser_col"
                                                        style="display: flex; align-items: center;">
                                                        <input type="password"
                                                            class="form-control form-control_mody password_user form_adduser_body textinput"
                                                            id="id_password1" name="password1"
                                                            autocomplete="new-password" required autocomplete="off">
                                                        <i class="bx bx-hide showHidePw_user username_icon"
                                                            style="position: absolute; display: flex; color: blue; right: 2.5rem; cursor: pointer; font-size: 1.2rem; "></i>
                                                    </div>
                                                    <div class="col-auto form-text-col">
                                                        <span id="hint_id_password1" class="help-block">
                                                            <li>
                                                                Your password can't be too similar to your other
                                                                personal information.
                                                            </li>
                                                            <li>
                                                                Your password must contain at least 8 characters.
                                                            </li>
                                                            <li>
                                                                Your password can't be a commonly used password.
                                                            </li>
                                                            <li>
                                                                Your password can't be entirely numeric.
                                                            </li>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="usersetup_modal-footer"
                        style="display: flex; justify-content: right; align-items: center; text-align: center; margin-bottom: 1rem;">
                        <button type="button" class="btn btn-height btn-danger" data-bs-dismiss="modal"
                            style="font-size: 0.85rem; padding: 0.5rem; margin-right: 1rem;">
                            Close
                        </button>
                        <button id="passchUserWCon" name="submit" type="submit" class="btn btn-height btn-success"
                            style="font-size: 0.85rem; padding: 0.5rem; margin-right: 1rem;">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // password show hide scrpt
        const pwByUserShowHide = document.querySelectorAll(".showHidePw_user"),
            pwByUserFields = document.querySelectorAll(".password_user");

        //   js code to show/hide password and change icon
        pwByUserShowHide.forEach(eyeIcon => {
            eyeIcon.addEventListener("click", () => {
                pwByUserFields.forEach(pwUserField => {
                    if (pwUserField.type === "password") {
                        pwUserField.type = "text";

                        pwByUserShowHide.forEach(icon => {
                            icon.classList.replace("bx-hide", "bx-show");
                        })
                    } else {
                        pwUserField.type = "password";

                        pwByUserShowHide.forEach(icon => {
                            icon.classList.replace("bx-show", "bx-hide");
                        })
                    }
                })
            })
        })
    })

    //<!--  -->
    $(function () {
        $('#passCh_form').submit(function (e) {
            e.preventDefault();
            var password = $('#id_password1').val();

            // Password validation criteria
            var containsPersonalInfo = password.includes('{{ user_data.first_name }}') || password.includes('{{ user_data.last_name }}');
            var hasMinimumLength = password.length >= 8;
            var isCommonPassword = ['123456', 'password', 'qwerty'].includes(password.toLowerCase());
            var isNumericOnly = /^\d+$/.test(password);

            if (containsPersonalInfo) {
                toastr.error("Your password can't be too similar to your other personal information.");
            } else if (!hasMinimumLength) {
                toastr.error("Your password must contain at least 8 characters.");
            } else if (isCommonPassword) {
                toastr.error("Your password can't be a commonly used password.");
            } else if (isNumericOnly) {
                toastr.error("Your password can't be entirely numeric.");
            } else {
                var formData = new FormData($(this)[0]);
                $.ajax({
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    url: "{% url 'update_user_password' %}",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    dataType: 'json',
                    success: function (resp) {
                        console.log(resp);
                        if (resp.success) {
                            toastr.success(resp.msg);
                            setTimeout(function () { location.reload() }, 300);
                        } else {
                            toastr.error(resp.errmsg);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        toastr.error("An error occurred while processing the request.");
                    }
                });
            }
        });
    });
</script>