<main>
    <section>
        <div class="card">
            <div class="card-body">
                <div class="report-filter">
                    <!-- Date Range Filter -->
                    <div class="date-range">
                        <div class="row date_range-body" style="display:flex; font-size: 0.8rem;">
                            <div class="date_range-element" style="display:flex">
                                <!--  -->
                                <div class="col-sm-12" style="display: flex;">
                                    <div class="row col-sm-6"
                                        style="flex-grow: 1; display: flex; justify-content: left;">
                                        <label for="id_store_acc_org" class="col-auto col-form-label"
                                            style="margin-left: 1rem;">
                                            Org:
                                        </label>
                                        <div class="col-org-branF">
                                            <select id="id_store_acc_org" name="store_acc_org"
                                                class="form-select access-Selectbox" aria-label="Default select example"
                                                required>
                                                {% for org in org_list %}
                                                <option id="{{org.org_id}}" value="{{org.org_id}}">
                                                    {{org.org_name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row col-sm-6"
                                        style="flex-grow: 2; display: flex; justify-content: right;">
                                        <label for="id_store_acc_brach" class="col-auto col-form-label">
                                            Branch:
                                        </label>
                                        <div class="col-org-branF">
                                            <select id="id_store_acc_brach" name="store_acc_brach"
                                                class="form-select access-Selectbox" aria-label="Default select example"
                                                required>
                                                <!--  -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <section style="margin-top: 1rem;">
                        <div>
                            <div id="id_store_acc_org_display">
                                <!--  -->
                                
                            </div>
                            <!--  -->
                            <!-- <div id="id_store_acc_brach_display">

                            </div> -->
                        </div>
                    </section>
                    <!--  -->
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <section>
        <!--  -->
    </section>
</main>
<script>
    $(document).ready(function () {
        // Function to populate the org select element
        function populateOrgOptions(orgOptions) {
            var storeAccOrgSelect = document.getElementById("id_store_acc_org");

            // Clear existing options
            storeAccOrgSelect.innerHTML = "";

            // Add a default option
            //var defaultOption = document.createElement("option");
            //defaultOption.text = "Choose Organization ...";
            //storeAccOrgSelect.add(defaultOption);

            // Populate options based on the received data
            orgOptions.forEach(function (org) {
                var option = document.createElement("option");
                option.value = org.org_id;
                option.text = org.org_name;
                storeAccOrgSelect.add(option);
            });
        }

        // Function to fetch org options from the server
        function fetchOrgOptions() {
            $.ajax({
                type: 'GET',
                url: '/get_user_wise_store_org_option/',
                success: function (data) {
                    // Call the function to populate the org select element
                    populateOrgOptions(data.store_acc_org);

                    // Call the function to update branch options
                    updateBranchOptionsfilter();
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching org options:', error);
                }
            });
        }

        // Call the function to fetch and populate org options on page load
        fetchOrgOptions();

        // user org wise branch option value
        $('#id_store_acc_org').change(function () {
            updateBranchOptionsfilter();
        });

        // Function to update branch options
        function updateBranchOptionsfilter() {
            var selectedFilterOrgId = $('#id_store_acc_org').val();
            $.ajax({
                url: '/get_branch_options/',
                method: 'GET',
                data: { org_id: selectedFilterOrgId },
                success: function (data) {
                    $('#id_store_acc_brach').empty();
                    $('#id_store_acc_brach').append('<option selected disabled>Choose Branch ...</option>');
                    $.each(data.branch_list, function (index, branch) {
                        $('#id_store_acc_brach').append('<option value="' + branch.branch_id + '">' + branch.branch_name + '</option>');
                    });
                    $('#id_store_acc_brach').trigger('change');
                },
                error: function (error) {
                    console.error('Error fetching branch options:', error);
                }
            });
        }
    });

    //
    $(document).ready(function () {
        // Initialize variables to store data for each select box
        updateDisplay();

        $('#id_store_acc_org, #id_store_acc_brach').change(function () {
            var orgId = $('#id_store_acc_org').val();
            var branchId = $('#id_store_acc_brach').val();
            var endpoint = '/get_store_data/';

            // Fetch data for organization
            $.ajax({
                url: endpoint,
                data: { 'org_id': orgId },
                dataType: 'json',
                success: function (data) {
                    setTimeout(function () {
                        updateDisplay(data.store_list, 'id_store_acc_org_display');
                    }, 500);
                }
            });

            // Fetch data for branch
            $.ajax({
                url: endpoint,
                data: { 'branch_id': branchId },
                dataType: 'json',
                success: function (data) {
                    setTimeout(function () {
                        updateDisplay(data.store_list, 'id_store_acc_org_display');
                    }, 500);
                }
            });
        });

        function updateDisplay(storeList, targetId) {
            var storeListBody = $('#' + targetId);
            storeListBody.empty();
        
            if (storeList && storeList.length > 0) {
                $.each(storeList, function (index, storeDetail) {
                    // Create a new accordion item for each organization
                    var accordionItem = $('<div class="accordion-item"></div>');
        
                    // Create accordion header
                    var accordionHeader = $('<h2 class="accordion-header"></h2>');
                    accordionHeader.attr('id', 'org_store_access_' + index);
        
                    // Create accordion button
                    var accordionButton = $('<button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="false"></button>');
                    accordionButton.attr('data-bs-target', '#store-access_' + index);
                    accordionButton.attr('aria-controls', 'store-access_' + index);
                    accordionButton.text(storeDetail.org_id__org_name);
        
                    accordionHeader.append(accordionButton);
        
                    // Create accordion body
                    var accordionBody = $('<div class="accordion-collapse collapse"></div>');
                    accordionBody.attr('id', 'store-access_' + index);
        
                    // Create table
                    var table = $('<table class="table table-striped-columns"></table>');
                    table.css('width', '100%');
                    table.css('border', '1px solid rgb(218, 218, 218)');
        
                    // Create thead
                    var thead = $('<thead></thead>').css({
                        'font-size': '0.75rem',
                        'background': '#00683e',
                        'color': '#fff'
                    });
                    var headerRow = $('<tr></tr>');
                    headerRow.append('<th scope="col" style="text-align: left;">Store Name</th>');
                    headerRow.append('<th scope="col" style="text-align: center; width: 13%;">Is Default</th>');
                    thead.append(headerRow);
                    table.append(thead);
        
                    // Create tbody
                    var tbody = $('<tbody></tbody>').css('font-size', '0.85rem');
                    $.each(storeDetail.storeDtl, function (i, store) {
                        var newRow = $('<tr></tr>');
                        var cell1 = $('<td style="text-align: left;"></td>');
                        var cell2 = $('<td></td>');
        
                        // Display store name
                        cell1.append('<input type="checkbox" class="form-check-input check-input-margin" value="' + store.store_id + '">' +
                            '<span style="text-align: left; margin-left: 0.5rem;">' + store.store_name + '</span>');
        
                        // Display Is Default radio button
                        cell2.append('<input type="radio" class="form-check-input check-input-margin" value="1">');
        
                        newRow.append(cell1);
                        newRow.append(cell2);
                        tbody.append(newRow);
                    });
                    table.append(tbody);
        
                    // Append header and body to accordion item
                    accordionBody.append(table);
                    accordionItem.append(accordionHeader);
                    accordionItem.append(accordionBody);
        
                    // Append accordion item to the target element
                    storeListBody.append(accordionItem);
                });
            }
        }
    });
</script>