{% extends 'base_form/main_base/main_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} User Setup {% endblock %}
{% block extra_link %}
<!--========== CSS ==========-->
<link rel="stylesheet" href="{% static 'user_setup_style/css/user_setup_style.css' %}">
<!--========== from User setup js file ==========-->
<script src="{% static 'user_setup_style/js/user_register_script.js' %}"></script>
{% endblock %}
<!--========== CONTENTS start==========-->
{% block body %}
<!-- loader start -->
<div class="loader"></div>
<!-- loader end -->
<main>
    <section>
        <div class="container-fluid">
            <!-- Main Heading -->
            <div class="row">
                <div class="col col-md-4 col-md-6 dashboar-head">
                    <div class="d-sm-flex align-items-center mb-2">
                        <i class='bx bxs-user-account text-success req-head-icon'></i>
                        <h1 class="h3 text-success req-head">Create User & Define Access</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="empsetup-body">
        <section>
            <div class="main_header">
                <h1>User List</h1>
                <div class="new-employee-create">
                    <div class="new-employee">
                        <button type="button" class="employeeaddbtn" id="addusersetup">
                            <i class='bx bx-user-plus new-employee-icon'>
                                <span class="new-employee-text">
                                    Create New User
                                </span>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card" style="margin-bottom: 1rem;">
                <div class="card-body">
                    <div class="report-filter">
                        <!-- Date Range Filter -->
                        <div class="date-range">
                            <div class="row date_range-body" style="display:flex; font-size: 0.8rem;">
                                <div class="date_range-element" style="display:flex">
                                    <div class="row g-3 align-items-center col-sm-4" style="flex-grow: 0;">
                                        <div class="col-auto">
                                            <!-- all active inactive status -->
                                            <section>
                                                <div class="active-filter">
                                                    <!--  -->
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="useroption" id="inlineRadio1"
                                                            value="True">
                                                        <label class="form-check-label" for="inlineRadio1">Active User</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="useroption" id="inlineRadio2"
                                                            value="False">
                                                        <label class="form-check-label" for="inlineRadio2">Inactive User</label>
                                                    </div>
                                                    <!--  -->
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row store_row col-sm-4" style="flex-grow: 1; display: flex; justify-content: right;">
                                        <label for="id_filter_org" class="col-auto col-form-label">
                                            Organization:
                                        </label>
                                        <div class="col-sm-8">
                                            <select id="id_filter_org" name="filter_org"
                                                class="form-select store_Selectbox"
                                                aria-label="Default select example" required>
                                                {% for org in org_list %}
                                                <option id="{{org.org_id}}" value="{{org.org_id}}">
                                                    {{org.org_name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row store_row col-sm-4" style="flex-grow: 2; display: flex; justify-content: right;">
                                        <label for="id_filter_branch" class="col-auto col-form-label">
                                            Branch:
                                        </label>
                                        <div class="col-sm-8">
                                            <select id="id_filter_branch" name="filter_branch"
                                                class="form-select store_Selectbox"
                                                aria-label="Default select example" required>
                                                <!--  -->
                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- containt start -->
        <section style="margin-top: 0.6rem;">
            <div class="col-xl-12">
                <form action="" method="">
                    <div class="table-body">
                        <table id="user_list" class="table table-striped" style="width: 100%;">
                            <thead class="text-center table-header">
                                <tr>
                                    <th style="text-align:center;">User Name</th>
                                    <th style="text-align:center;">First Name</th>
                                    <th style="text-align:center;">Last Name</th>
                                    <th style="text-align:center;">Designation</th>
                                    <th style="text-align:center;">Email</th>
                                    <th style="text-align:center;">Phone Number</th>
                                    <th style="text-align:center;">Organization</th>
                                    <th style="text-align:center;">Branch</th>
                                    <th style="text-align:center;">Online</th>
                                    <th style="text-align:center;">Status</th>
                                    <th style="text-align:center; width: 12%;">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-body-row" id="user_list_tbody" style="text-align:center;">
                                <!--  -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </section>
        <!-- containt end  -->
    </div>
</main>
<script>
    // get branch option org wise
    $(document).ready(function () {
        // Initial population of branch options based on the selected organization
        updateBranchOptionsfilter();

        // Event listener for the change event on #id_filter_org
        $('#id_filter_org').change(function () {
            updateBranchOptionsfilter();
        });

        function updateBranchOptionsfilter() {
            // Get the selected organization ID
            var selectedFilterOrgId = $('#id_filter_org').val();

            // Make an AJAX request to get branch options based on the selected organization
            $.ajax({
                url: '/get_branch_options/',
                method: 'GET',
                data: { org_id: selectedFilterOrgId },
                success: function (data) {
                    // Clear existing options
                    $('#id_filter_branch').empty();

                    // Add fetched branch options
                    $.each(data.branch_list, function (index, branch) {
                        $('#id_filter_branch').append('<option value="' + branch.branch_id + '">' + branch.branch_name + '</option>');
                    });

                    // Trigger change event for #id_filter_branch to automatically update its value
                    $('#id_filter_branch').trigger('change');
                },
                error: function (error) {
                    console.error('Error fetching branch options:', error);
                }
            });
        }
    });

    // get user table data
    $(document).ready(function () {
        var debounceTimer;
        // Handle radio button change event
        $('input[name="useroption"], #id_filter_org, #id_filter_branch').change(function () {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(filterUsers, 300); // Debounce with a 300ms delay
        });

        //$('input[name="useroption"], #id_filter_org, #id_filter_branch').change(function () {
        //    filterUsers();
        //});
    
        function filterUsers() {
            // Get filter values
            var is_active = $('input[name="useroption"]:checked').val();
            var org_id = $('#id_filter_org').val();
            var branch_id = $('#id_filter_branch').val();
    
            // Create an object to hold the parameters
            var filterParams = {
                'is_active': is_active,
                'org_id': org_id,
                'branch_id': branch_id,
            };
    
            // Make AJAX request to filter_users view
            $.ajax({
                url: '/get_user_list_values/',
                type: 'GET',
                data: filterParams,
                dataType: 'json',
                success: function (data) {
                    // Destroy the existing DataTable instance
                    $('#user_list').DataTable().destroy();
    
                    // Update the table with the filtered data
                    updateTable(data.users_data);
    
                    // Re-initialize DataTable after updating the table data
                    $('#user_list').DataTable({
                        "ordering": false,
                    });
                }
            });
        }
    
        function updateTable(usersData) {
            // Clear existing table rows
            $('#user_list_tbody').empty();
    
            // Append filtered data to the table
            $.each(usersData, function (index, user) {
                var onlineIndicator = '<div class="online-indicator"><span class="blink"></span></div>';
                var offlineIndicator = '<div class="offline-indicator"><span class="off-blink"></span></div>';
    
                var statusIndicator = user.is_login_status ? onlineIndicator : offlineIndicator;
    
                // Construct the HTML for the row, including profile image and username
                var row = '<tr>' +
                    '<td style="text-align:left;">';
    
                // Check if the user has a profile image
                var profileImgSrc = user.profile_img ? user.profile_img : "{% static 'images/profile_img/user.png' %}";
                row += '<img src="' + profileImgSrc + '" alt="" class="user-img_table">';
    
                // Append the username
                row += user.username + '</td>' +
                    '<td>' + user.first_name + '</td>' +
                    '<td>' + user.last_name + '</td>' +
                    '<td>' + user.designation + '</td>' +
                    '<td>' + user.email + '</td>' +
                    '<td>' + user.phone_no + '</td>' +
                    '<td>' + user.org_name + '</td>' +
                    '<td>' + user.branch_name + '</td>' +
                    '<td>' + statusIndicator + '</td>' +
                    '<td class="status_active_inactive" data-is-active="' + user.is_active + '">' + (user.is_active ? 'Active' : 'Inactive') + '</td>' +
                    '<td style="text-align:center; width: 12%;">' +
                        '<button type="button" class="btn btn-info btn-xs text-white editusersetup" style="margin: 0.2rem;" data-id="' + user.user_id + '">' +
                        '<i class=\'bx bxs-edit text-white\'></i>' +
                        '</button>' +
                        '<button type="button" class="btn btn-success btn-xs text-white user-access" style="margin: 0.2rem;" data-id="' + user.user_id + '">' +
                        '<i class=\'bx bxs-cog text-white\'></i>' +
                        '</button>' +
                        '<button type="button" class="btn btn-primary btn-xs passwordChange" style="margin: 0.2rem;" data-id="' + user.user_id + '">' +
                        '<i class=\'bx bxs-lock text-white\'></i>' +
                        '</button>' +
                    '</td>' +
                    '</tr>';
    
                // Append the constructed row to the table
                $('#user_list_tbody').append(row);
            });
    
            // Call updateStatusElements after appending rows
            updateStatusElements();
        }
    
        //<!-- status change true = active & false = inactive -->
        function updateStatusElements() {
            // status change true = active & false = inactive
            var elements = document.getElementsByClassName("status_active_inactive");
    
            for (var i = 0; i < elements.length; i++) {
                var is_active = elements[i].getAttribute("data-is-active").toLowerCase().trim();
    
                // Update text and add classes based on the data-is-active attribute
                if (is_active === "true") {
                    elements[i].innerHTML = "Active";
                    elements[i].classList.add("active");
                }
                if (is_active === "false") {
                    elements[i].innerHTML = "Inactive";
                    elements[i].classList.add("inactive");
                }
            }
        }
        //<!-- status change true = active & false = inactive -->
    
        // Check the "Active User" radio button by default
        $('input[name="useroption"][value="True"]').prop('checked', true);
    
        // Trigger the change event to update the table initially
        $('input[name="useroption"]').change();
    
        // Attach click events for modals
        $(document).on('click', '#addusersetup', function () {
            modal_xl("Add New user setup", "{% url 'add_user_modal' %}");
        });
    
        $(document).on('click', '.editusersetup', function () {
            modal_xl("edit user setup", "{% url 'edit_view_user_modal' %}?user_id=" + $(this).attr('data-id'));
        });
    
        $(document).on('click', '.passwordChange', function () {
            modal_md("Password Change Info", "{% url 'user_password_change' %}?user_id=" + $(this).attr('data-id'));
        });
    
        $(document).on('click', '.user-access', function () {
            modal_lg("User Access", "{% url 'access_manage' %}?user_id=" + $(this).attr('data-id'));
        });
    });


    //<!-- loader scrpt -->
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");

        loader.classList.add("loader-hidden");

        loader.addEventListener("transitionend", () => {
            // document.body.removeChild("loader");
        });
    });

    
    // image load in the page
    function displaySelectedImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;
    
                img.onload = function () {
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');
    
                    var maxWidth = 300;
                    var maxHeight = 300;
    
                    var width = img.width;
                    var height = img.height;
    
                    if (width > maxWidth || height > maxHeight) {
                        if (width > height) {
                            height *= maxWidth / width;
                            width = maxWidth;
                        } else {
                            width *= maxHeight / height;
                            height = maxHeight;
                        }
    
                        canvas.width = width;
                        canvas.height = height;
    
                        ctx.drawImage(img, 0, 0, width, height);
    
                        // Create or select the element with ID 'selected_image'
                        var selectedImage = document.getElementById('selected_image');
                        if (!selectedImage) {
                            selectedImage = new Image();
                            selectedImage.id = 'selected_image';
                            document.body.appendChild(selectedImage); // Append the image to the body or any other appropriate container
                        }
    
                        // Set the image source to the resized image
                        selectedImage.src = canvas.toDataURL('image/jpeg');
    
                        // Check if image size exceeds 300x300 after resizing
                        if (width > maxWidth || height > maxHeight) {
                            toastr.warning('Image size should be within 300x300 pixels.');
                        }
                    } else {
                        // If the image is within the size limit, set the image source directly
                        var selectedImage = document.getElementById('selected_image');
                        if (selectedImage) {
                            selectedImage.src = img.src;
                        }
                    }
                };
            };
    
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}