<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--========== FAVICON ICONS ==========-->
    <link rel="shortcut icon" href="{% static 'fav_icon/login.png' %}">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" type="text/css" href="{% static 'logger_style/singin_form_style.css' %}">


    <title>Sign in</title>
</head>
<!-- message start -->
<div class="alret_conteiner_body">
    {% for message in messages %}
    <div class="success info alert">
        <i class='bx bxs-check-circle alert_icon'></i>
        {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
</div>
 <!-- message end -->

<body>
    <!-- bacground wave -->
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <!-- bacground wave -->
    <div class="container">
        <div class="main_header">
            <span class="form_header">General Store Management System</span>
        </div>
        <div class="forms">
            <div class="form login">
                <span class="title">Sign in</span>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-field textinput textInput" id="div_id_username">
                        <input type="text" id="id_username" name="username" placeholder="Enter your User Name" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required>
                        <i class="bx bx-user-circle username_icon"></i>
                    </div>
                    <div class="input-field textinput textInput" id="div_id_password">
                        <input type="password" id="id_password" name="password" class="password" placeholder="Enter your password" autocomplete="current-password" required>
                        <i class="bx bx-lock pass_icon"></i>
                        <i class="bx bx-hide showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>

                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="button-field button">
                        <button type="submit" value="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'logger_style/script.js' %}"></script>

</body>

<!-- Footer -->
<footer class="footer">
    <p class="text-muted">Copyright &copy;Shariat Sunny 2023. All Rights Reserved. Software Versions: 1.0.0</p>
</footer>
<!-- Footer End -->

</html>