/* main header start */
.container-fluid {
    cursor: pointer;
}

.dashboar-head {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5rem;
}

.req-head-icon {
    font-size: 18px;
}

.req-head {
    font-size: 15px;
    margin-left: 10px;
}

.py-2 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.mb-1 {
    margin-bottom: 0rem !important;
}

.mb-2 {
    margin-bottom: 0rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.text-size {
    font-size: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}

/* main header end */

/* ============================================================ */
.recon_item {
    position: relative;
}

.recon_item .dropdown-menu {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    display: none;

}

.dropdown-menu {
    position: static;
    /* width: 93%; */
    padding: 2px 2px 2px !important;
    margin: 0;
    font-size: 0.8rem !important;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    z-index: 1;
    overflow: hidden;
}

.dropdown-item {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #f3f3f3;
    background: darkseagreen;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.dropdown-menu li.active a.dropdown-item {
    background: #f3f3f3 !important;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left-color: royalblue !important;
    border-right-color: royalblue !important;
}

.itemName {
    width: 26rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 2rem;
    margin-top: 2px;
}

.itemOtherName {
    width: 10rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 3px;
    margin-top: 2px;
}

.itemBatchName {
    width: 10rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 3px;
    margin-top: 2px;
}

.itemQtyName {
    width: 5rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 3px;
    margin-top: 2px;
}

.itemPriceName {
    width: 4rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 3px;
    margin-top: 2px;
}

.itemNameIcon {
    position: absolute;
    font-size: 1.5rem;
    margin-top: -2px;
    left: 10px;
    color: chocolate;
}

.itemOtherIcon {
    font-size: 1.5rem;
    margin-left: 8px;
    margin-right: 5px;
    color: darkcyan;
    margin-top: 0px;
}
/* ======================================================================================== */

/* auto serial */
#mul_item_tbl {
    counter-reset: rowNumber;
}

#mul_item_tbl tbody tr {
    counter-increment: rowNumber;
}

#mul_item_tbl tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

/* item setup card-body */
.row_item_setup {
    --bs-gutter-x: 0.1rem;
}

.card-body_item_setup {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}

.item_setup_sub {
    flex: 1 1 auto;
    padding: 0rem 0rem;
}

/* item setup card-body */

.itemsetup_container {
    position: relative;
    margin-top: 5px;
    border: 1px solid rgb(211, 211, 211);
    /* background: rgba(216, 216, 216, 0.767); */
}

.add_edit_head {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 25px;
    width: 40%;
    height: 33px;
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 35px;
}

.add_edit_head h2 {
    position: absolute;
    display: flex;
    font-size: 14px;
    color: rgb(126, 126, 126);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.itemfilter_container {
    position: relative;
    margin-top: 5px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 0.85rem;
}

.filter_head {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 25px;
    width: 40%;
    height: 33px;
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 35px;
}

.filter_head h2 {
    position: absolute;
    display: flex;
    font-size: 14px;
    color: rgb(126, 126, 126);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.supplier_container {
    position: relative;
    margin-top: 15px;
    border: 1px solid rgb(211, 211, 211);
}

.supplier_head {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 25px;
    width: 25%;
    height: 33px;
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 35px;
}

.supplier_head h2 {
    position: absolute;
    display: flex;
    font-size: 14px;
    color: rgb(126, 126, 126);
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media (min-width: 576px) {
    .col-sm-2 {
        flex: 0 0 auto;
        width: 28%;
    }
}

@media (min-width: 576px) {
    .col-sm-8 {
        flex: 0 0 auto;
        width: 65%;
    }
}

@media (min-width: 576px) {
    .col-sm-10 {
        flex: 0 0 auto;
        width: 82%;
    }
}

@media (min-width: 576px) {
    .col-md-4-mody {
        flex: 0 0 auto;
        width: 32.5%;
    }
}

@media (min-width: 576px) {
    .org_bran_selectbox {
        flex: 0 0 auto;
        width: 78.5%;
    }
}

@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 18%;
    }
}

@media (min-width: 576px) {
    .col-sm-s1 {
        flex: 0 0 auto;
        width: 17.5%;
    }
}

@media (min-width: 576px) {
    .col-org_filter {
        flex: 0 0 auto;
        width: 19.5%;
    }
}

@media (min-width: 576px) {
    .col-sm-s8 {
        flex: 0 0 auto;
        width: 65.5%;
        margin-left: -2px;
    }
}

@media (min-width: 576px) {
    .col-sm-s3 {
        flex: 0 0 auto;
        width: 34.5%;
    }
}

@media (min-width: 576px) {
    .col-sm-s10 {
        flex: 0 0 auto;
        width: 82.5%;
    }
}

.main-card {
    border: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0rem;
    padding-left: 0.5rem;
}

.org-filterRow {
    --bs-gutter-x: 0rem;
}

.item_setupflag {
    margin-bottom: 4px;
    font-size: 0.77rem;
}

.setupflag_label {
    margin-right: 5px;
}

.item_inputbox {
    position: relative;
    margin-top: 2px;
    padding: 0.175rem 0.25rem 0.175rem 0.75rem;
    font-size: 0.76rem;
    z-index: 1;
}

.item_checkbox {
    margin-top: 2.3px;
    font-size: 1.6rem;
}

.item_cross_btn {
    margin-top: 2.3px;
    padding: 0.06rem 0.5rem;
    font-size: 0.84rem;
    font-weight: bold;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.row_item_setup {
    --bs-gutter-x: 0rem;
}

.font_size_filter {
    display: flex;
    padding-right: 8px;
    font-size: 0.8rem;
    justify-content: right;
}

.inline_item {
    margin-left: 1rem;
}

.item_del_btn {
    margin-top: 0.6px;
    padding: 0.06rem 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: -0.5rem;
}

/* table */
.item-table {
    height: 70vh;
    overflow: auto;
    border: 1px solid #71bac4;
}

.table {
    margin-bottom: 0.3rem;
    table-layout: fixed;
}

.table-header {
    position: sticky;
    top: 0;
    color: #fff;
    background: #2e94a1;
    font-size: 12px;
}

/* search  */
.search_control {
    width: 98%;
}

.item_search_field {
    width: 100%;
    height: 2.1rem;
}

.search_clearBtn {
    position: relative;
    margin-top: 2px;
    font-size: 1rem;
    z-index: 1;
    width: 40px;
    height: 27px;
    inset: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search_clearIcon {
    font-size: 1.5rem;
}

.table-header_itemlist {
    position: sticky;
    top: 0;
    color: #fff;
    background: #85acb1;
    font-size: 12px;
}

.table-body-row {
    font-size: 0.75rem;
}

/* Apply word-break to the cells in the "Item Name" column */
.table-striped tbody td:nth-child(2) {
    word-break: break-word;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 3px;
    border-bottom: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 1px;
}

.table>tbody {
    vertical-align: middle;
}

.table>:not(caption)>*>* {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

#transTB tr:nth-child(even) {
    background-color: #ffffff;
}

#transTB tr:nth-child(odd) {
    background-color: #e7e7e7;
}

.pos_salesDisInput {
    margin-top: 2px;
    padding: 0.175rem 0.25rem 0.175rem 0.175rem;
    font-size: 11.5px;
}

.itemAdd_del_btn {
    position: relative;
    margin-top: 0.6px;
    margin-bottom: 2px;
    padding: 0.03rem 0.35rem;
    font-weight: bold;
    margin-left: 0.15rem;
    margin-right: 0.2rem;
    z-index: 1;
    font-size: 0.8rem;
}

input::placeholder {
    font-size: 11px;
}

/* table data edit button */
.edit-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 0;
    color: #0080ff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.supplier_btn {
    position: relative;
    display: flex;
    width: 5%;
    height: 27px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 0.4rem;
    margin-right: 0.2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.submit_button {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: right;
}

.supp-row-margin {
    --bs-gutter-x: 0.2rem;
}


/* input required */

/* input required */

/* loader start */
.loader-body {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 96%;
    background-color: #e4e4e4ab;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.loader {
    height: 25px;
    width: 25px;
    position: absolute; /* Change from relative to absolute */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both vertically and horizontally */
    animation: rotate 5s infinite;
}

.ball {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.upper {
    left: 0;
    top: -22px;
    background: #2da2ff;
    animation: upper 1s linear infinite;
}

@keyframes upper {
    50% {
        top: 22px;
    }

    100% {
        top: 22px;
    }
}

.right {
    right: -22px;
    top: 0;
    background: #ff337a;
    animation: right 1s linear infinite;
}

@keyframes right {
    50% {
        right: 22px;
    }

    100% {
        right: 22px;
    }
}

.lower {
    bottom: -22px;
    left: 0;
    background: #ffff00;
    animation: lower 1s linear infinite;
}

@keyframes lower {
    50% {
        bottom: 22px;
    }

    100% {
        bottom: 22px;
    }
}

.left {
    left: -22px;
    top: 0;
    background: #00ff00;
    animation: left 1s linear infinite;
}

@keyframes left {
    50% {
        left: 22px;
    }

    100% {
        left: 22px;
    }
}

/* loader end */

.pagination {
    margin-left: 0.5rem;
    justify-content: left;
    text-align: center;
    align-items: center;
}

.pagination button {
    background-color: rgb(98, 132, 236);
}

.pagination button.active {
    background-color: rgb(16, 56, 177);
}

