{% extends 'base_form/main_base/main_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Store Management Systems {% endblock %}
{% block extra_link %}
<!--========== CSS ==========-->
<link rel="stylesheet" href="{% static 'module_setup_style/css/module_setup_style.css' %}">
<!--========== from js file ==========-->
<script src="{% static 'module_setup_style/js/module_setup.js' %}"></script>

{% endblock %}
<!--========== CONTENTS start==========-->
{% block body %}
<!-- loader start -->
<div class="loader"></div>
<!-- loader end -->
<main>
    <section style="margin-top: 10px;">
        <ul class="nav nav-tabs" id="moduleTabAll" role="tablist">
            <!--  -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="module-tab" href="#module" type="button" role="tab">Module Setup</a>
            </li>
            <!--  -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="module_type-tab" href="#module_type" type="button" role="tab">Module Type Setup</a>
            </li>
            <!--  -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="feature-tab" href="#feature" type="button" role="tab">Features Setup</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- Module -->
            <div class="tab-pane show active" id="module" role="tabpanel">
                <!-- Module Setup content body here -->
                <section style="margin-top: 0.5rem; margin-bottom:0.5rem;">
                    <div class="container-fluid">
                        <!-- Main Heading -->
                        <div class="row">
                            <div class="col col-md-4 col-md-6 dashboar-head" style="display:flex;">
                                <div class="d-sm-flex align-items-center mb-2" style="display: flex; width: 100%;">
                                    <i class='bx bx-objects-horizontal-left text-success req-head-icon'></i>
                                    <h1 class="h3 text-success req-head">Module Setup</h1>
                                </div>
                                <div class="add-moduleBtn">
                                    <button id="addmodulesetup" class="btn btn-success text-white btn-xs moduleBtn">Add
                                        New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <section>
                    <div class="col-xl-12">
                        <form action="" method="">
                            <div class="module-table">
                                <table id="moduleList" class="table table-hover table-striped" style="width: 100%;">
                                    <thead class="text-center table-header">
                                        <tr style="border-style: hidden!important;">
                                            <th style="text-align:center; width: 5%;">SL No</th>
                                            <th style="text-align:center;">Module No.</th>
                                            <th style="text-align:center;">Module Name</th>
                                            <th style="text-align:center;">Module Code</th>
                                            <th style="text-align:center;">Status</th>
                                            <th style="text-align:center; width: 8%;">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody class="module-table-row">
                                        {% for data in list %}
                                        <tr style="border-style: hidden!important;">
                                            <td style="text-align:center; width: 5%;">{{forloop.counter}}</td>
                                            <td style="text-align:center;">{{data.module_no}}</td>
                                            <td style="text-align:center;">{{data.module_name}}</td>
                                            <td style="text-align:center;">{{data.module_code}}</td>
                                            <td class="statusActiveInact" style="text-align:center;">
                                                {{data.is_active}}
                                            </td>
                                            <td style="text-align:center; width: 8%;">
                                                <button type="button" data-id="{{ data.pk }}"
                                                    class="btn btn-success printBtn table-row-btn btn-xs text-white edit-data">
                                                    <i class='bx bx-edit printIcon text-white'></i>
                                                </button>
                                                <button type="button" data-id="{{ data.pk }}"
                                                    class="btn btn-danger printBtn table-row-btn btn-xs text-white delete-data">
                                                    <i class='bx bx-box printIcon text-white'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <!-- Module Type -->
            <div class="tab-pane" id="module_type" role="tabpanel">
                <!-- Module Type Setup content body here -->
                <section style="margin-top: 0.5rem; margin-bottom:0.5rem;">
                    <div class="container-fluid">
                        <!-- Main Heading -->
                        <div class="row">
                            <div class="col col-md-4 col-md-6 dashboar-head" style="display:flex;">
                                <div class="d-sm-flex align-items-center mb-2" style="display: flex; width: 100%;">
                                    <i class='bx bx-objects-vertical-center text-success req-head-icon'></i>
                                    <h1 class="h3 text-success req-head">Module Type Setup</h1>
                                </div>
                                <div class="add-moduleBtn">
                                    <button id="addMTypeSetup" class="btn btn-success text-white btn-xs moduleBtn">Add
                                        New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <section>
                    <div class="col-xl-12">
                        <form action="" method="">
                            <div class="module-table">
                                <table id="moduletypeList" class="table table-hover table-striped" style="width: 100%;">
                                    <thead class="text-center table-header">
                                        <tr style="border-style: hidden!important;">
                                            <th style="text-align:center; width: 5%;">SL No</th>
                                            <th style="text-align:center;">Type No.</th>
                                            <th style="text-align:center;">Type Name</th>
                                            <th style="text-align:center;">Type Code</th>
                                            <th style="text-align:center;">Parent Module</th>
                                            <th style="text-align:center;">Type Icon</th>
                                            <th style="text-align:center;">Status</th>
                                            <th style="text-align:center; width: 8%;">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody class="module-table-row">
                                        {% for row in Mtype %}
                                        <tr style="border-style: hidden!important;">
                                            <td style="text-align:center; width: 5%;">{{forloop.counter}}</td>
                                            <td style="text-align:center;">{{row.type_no}}</td>
                                            <td style="text-align:center;">{{row.type_name}}</td>
                                            <td style="text-align:center;">{{row.type_code}}</td>
                                            <td style="text-align:center;">{{row.module_id.module_name}}</td>
                                            <td style="text-align:center;">{{row.type_icon}}</td>
                                            <td class="typeStatus" style="text-align:center;">{{row.is_active}}</td>
                                            <td style="text-align:center; width: 8%;">
                                                <button type="button" data-id="{{ row.pk }}"
                                                    class="btn btn-success printBtn table-row-btn btn-xs text-white edit-typeData">
                                                    <i class='bx bx-edit printIcon text-white'></i>
                                                </button>
                                                <button type="button" data-id="{{ row.pk }}"
                                                    class="btn btn-danger printBtn table-row-btn btn-xs text-white delete-typeData">
                                                    <i class='bx bx-box printIcon text-white'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </section>

            </div>
            <!-- Features -->
            <div class="tab-pane" id="feature" role="tabpanel">
                <!-- Features Setup content body here -->
                <section style="margin-top: 0.5rem; margin-bottom:0.5rem;">
                    <div class="container-fluid">
                        <!-- Main Heading -->
                        <div class="row">
                            <div class="col col-md-4 col-md-6 dashboar-head" style="display:flex;">
                                <div class="d-sm-flex align-items-center mb-2" style="display: flex; width: 100%;">
                                    <i class='bx bx-objects-horizontal-center text-success req-head-icon'></i>
                                    <h1 class="h3 text-success req-head">Features Setup</h1>
                                </div>
                                <div class="add-moduleBtn">
                                    <button id="addfeatureSetup" class="btn btn-success text-white btn-xs moduleBtn">Add
                                        New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <section>
                    <div class="col-xl-12">
                        <form action="" method="">
                            <div class="module-table">
                                <table id="featureList" class="table table-hover table-striped" style="width: 100%;">
                                    <thead class="text-center table-header">
                                        <tr style="border-style: hidden!important;">
                                            <th style="text-align:center; width: 5%;">SL No</th>
                                            <th style="text-align:center;">Feature No</th>
                                            <th style="text-align:center;">Feature Name</th>
                                            <th style="text-align:center;">Serial No</th>
                                            <th style="text-align:center;">Feature Code</th>
                                            <th style="text-align:center;">Parent Module</th>
                                            <th style="text-align:center;">Module Type</th>
                                            <th style="text-align:center;">Feature Icon</th>
                                            <th style="text-align:center;">Status</th>
                                            <th style="text-align:center; width: 8%;">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody class="module-table-row">
                                        {% for rowF in feature %}
                                        <tr style="border-style: hidden!important;">
                                            <td style="text-align:center; width: 5%;">{{forloop.counter}}</td>
                                            <td style="text-align:center;">{{rowF.feature_no}}</td>
                                            <td style="text-align:center;">{{rowF.feature_name}}</td>
                                            <td style="text-align:center;">{{rowF.serial_no}}</td>
                                            <td style="text-align:center;">{{rowF.feature_code}}</td>
                                            <td style="text-align:center;">{{rowF.module_id.module_name}}</td>
                                            <td style="text-align:center;">{{rowF.type_id.type_name}}</td>
                                            <td style="text-align:center;">{{rowF.feature_icon}}</td>
                                            <td class="typeStatus" style="text-align:center;">{{rowF.is_active}}</td>
                                            <td style="text-align:center; width: 8%;">
                                                <button type="button" data-id="{{ rowF.pk }}"
                                                    class="btn btn-success printBtn table-row-btn btn-xs text-white edit-feature">
                                                    <i class='bx bx-edit printIcon text-white'></i>
                                                </button>
                                                <button type="button" data-id="{{ rowF.pk }}"
                                                    class="btn btn-danger printBtn table-row-btn btn-xs text-white delete-featureData">
                                                    <i class='bx bx-box printIcon text-white'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
<script>
    $(function () {
        // module setup
        $('#addmodulesetup').click(function () {
            uni_modal("Add New Module", "{% url 'module_manage' %}")
        })

        $(document).on('click', '.edit-data', function () {
            uni_modal("Edit Module", "{% url 'module_manage' %}?module_id=" + $(this).attr('data-id'))
        });

        $(document).on('click', '.delete-data', function () {
            _conf("Are you sure to delete this Module?", "delete_module", [$(this).attr('data-id')])
        });
        //module type setup
        $('#addMTypeSetup').click(function () {
            uni_modal("Add New Module Type", "{% url 'module_type_manage' %}")
        })

        $(document).on('click', '.edit-typeData', function () {
            uni_modal("Edit Module Type", "{% url 'module_type_manage' %}?type_id=" + $(this).attr('data-id'))
        });

        $(document).on('click', '.delete-typeData', function () {
            _conf("Are you sure to delete this Module Type?", "delete_type", [$(this).attr('data-id')])
        });
        //feature setup
        $('#addfeatureSetup').click(function () {
            uni_modal("Add New Feature", "{% url 'feature_manage' %}")
        })

        $(document).on('click', '.edit-feature', function () {
            uni_modal("Edit Feature", "{% url 'feature_manage' %}?feature_id=" + $(this).attr('data-id'));
        });

        $(document).on('click', '.delete-featureData', function () {
            _conf("Are you sure to delete this Features?", "delete_features", [$(this).attr('data-id')])
        });
    })

    // module delete function
    function delete_module($module_id) {
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete_module' %}",
            method: "POST",
            data: {
                module_id: $module_id
            },
            dataType: "json",
            success: function (resp) {
                toastr.success(resp.msg)
                //location.reload();
                setTimeout(function () { location.reload() }, 300);
            }
        })
    }
    // module type delete function
    function delete_type($type_id) {
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete_type' %}",
            method: "POST",
            data: {
                type_id: $type_id
            },
            dataType: "json",
            success: function (resp) {
                toastr.success(resp.msg)
                //location.reload();
                setTimeout(function () { location.reload() }, 300);
            }
        })
    }

    // feature delete function
    function delete_features($feature_id) {
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete_features' %}",
            method: "POST",
            data: {
                feature_id: $feature_id
            },
            dataType: "json",
            success: function (resp) {
                toastr.success(resp.msg)
                //location.reload();
                setTimeout(function () { location.reload() }, 300);
            }
        })
    }

    // status change true = active & false = inactive
    elements = document.getElementsByClassName("statusActiveInact")
    for (var i = elements.length; i--;) {
        if (elements[i].innerText === "True") {
            elements[i].innerHTML = "Active";
        }
        if (elements[i].innerText === "False") {
            elements[i].innerHTML = "Inactive";
        }
    }

    // status change true = active & false = inactive
    elements = document.getElementsByClassName("typeStatus")
    for (var i = elements.length; i--;) {
        if (elements[i].innerText === "True") {
            elements[i].innerHTML = "Active";
        }
        if (elements[i].innerText === "False") {
            elements[i].innerHTML = "Inactive";
        }
    }

    // loader scrt
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");

        loader.classList.add("loader-hidden");

        loader.addEventListener("transitionend", () => {
            // document.body.removeChild("loader");
        });
    });
</script>
{% endblock %}