{% load static %}
<div class="col-sm-12">
    <div class="card main-card">
        <div class="card-body card-body_item_setup">
            <div class="itemsetup_container">
                <form id="save_mType" action="" method="">
                    <input type="hidden" name="type_id" value="{% if moduleType.pk %}{{moduleType.pk}}{% endif %}">
                    <div class="add_edit_head">
                        <h2>Module Type Info.</h2>
                    </div>
                    <!--  -->
                    <div class="row row_item_setup">
                        <div class="col-sm-10">
                            <div class="card main-card">
                                <div class="card-body card-body_item_setup">
                                    <div class="row row_item_setup">
                                        <div class="col-sm-12">
                                            <div class="card main-card">
                                                <div class="card-body item_setup_sub">
                                                    <div class="row cash_point_row div_id_category_no">
                                                        <label for="type_no"
                                                            class="col-sm-4 col-form-label font_size_filter required">
                                                            Type No :</label>
                                                        <div class="col-sm-8">
                                                            <input type="text"
                                                                value="{% if moduleType.type_no %}{{moduleType.type_no}}{% endif %}"
                                                                class="form-control item_inputbox" id="type_no"
                                                                name="type_no" required autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-sm-12">
                                            <div class="card main-card">
                                                <div class="card-body item_setup_sub">
                                                    <div class="row cash_point_row div_id_category_name">
                                                        <label for="type_name"
                                                            class="col-sm-4 col-form-label font_size_filter required">
                                                            Type Name :</label>
                                                        <div class="col-sm-8">
                                                            <input type="text"
                                                                value="{% if moduleType.type_name %}{{moduleType.type_name}}{% endif %}"
                                                                class="form-control item_inputbox" id="type_name"
                                                                name="type_name" required autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-sm-12">
                                            <div class="card main-card">
                                                <div class="card-body item_setup_sub">
                                                    <div class="row cash_point_row div_id_category_name">
                                                        <label for="type_code"
                                                            class="col-sm-4 col-form-label font_size_filter required">
                                                            Type Code :
                                                        </label>
                                                        <div class="col-sm-8">
                                                            <input type="text"
                                                                value="{% if moduleType.type_code %}{{moduleType.type_code}}{% endif %}"
                                                                class="form-control item_inputbox" id="type_code"
                                                                name="type_code" required autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-sm-12">
                                            <div class="card main-card">
                                                <div class="card-body item_setup_sub">
                                                    <div class="row cash_point_row div_id_category_name">
                                                        <label for="module_id"
                                                            class="col-sm-4 col-form-label font_size_filter required">Parent
                                                            Module :</label>
                                                        <div class="col-sm-8">
                                                            <select id="module_id" name="module_id"
                                                                class="form-select item_inputbox"
                                                                aria-label="Default select example" required>
                                                                <!--  -->
                                                                {% if not moduleType.module_id %}
                                                                <option value="" disabled selected>Choose Module Name ..
                                                                </option>
                                                                {% else %}
                                                                <option value="" disabled>Choose Module Name ..</option>
                                                                {% endif %}

                                                                {% if moduleType.module_id %}
                                                                <option value="{{ moduleType.module_id }}"
                                                                    style="display: none;" selected>
                                                                    {{ moduleType.module_id.module_name }}
                                                                </option>
                                                                {% for datarow in modules %}
                                                                <option value="{{ datarow.module_id }}">
                                                                    {{ datarow.module_name }}
                                                                </option>
                                                                {% endfor %}
                                                                {% else %}
                                                                {% for datarow in modules %}
                                                                <option value="{{ datarow.module_id }}">
                                                                    {{ datarow.module_name }}
                                                                </option>
                                                                {% endfor %}
                                                                {% endif %}


                                                                <!--  -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-sm-12">
                                            <div class="card main-card">
                                                <div class="card-body item_setup_sub">
                                                    <div class="row cash_point_row div_id_category_name">
                                                        <label for="type_icon"
                                                            class="col-sm-4 col-form-label font_size_filter required">
                                                            Icon :
                                                        </label>
                                                        <div class="col-sm-8">
                                                            <input type="text"
                                                                value="{% if moduleType.type_icon %}{{moduleType.type_icon}}{% endif %}"
                                                                class="form-control item_inputbox" id="type_icon"
                                                                name="type_icon" required autocomplete="off"
                                                                placeholder="Boxicons Icon Class name only">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="card main-card">
                                <div class="card-body card-body_item_setup">
                                    <div class="item_setupflag div_id_type_status"
                                        style="display: flex; justify-content: right;">
                                        <label class="form-check-label text-danger setupflag_label" for="type_status">
                                            Active?
                                        </label>
                                        <input type="hidden" name="type_status" value="0">
                                        {% if moduleType.is_active == 1 %}
                                        <input class="form-check-input" type="checkbox" id="type_status"
                                            name="type_status" value="1" aria-label="..." checked>
                                        {% else %}
                                        <input class="form-check-input" type="checkbox" id="type_status"
                                            name="type_status" value="0" aria-label="...">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="card main-card">
                                <div class="card-body card-body_item_setup">
                                    <div class="item_setupflag" style="display: flex; justify-content: center;">
                                        <a href="https://boxicons.com/" target="_blank">
                                            <img src="{% static 'images/boxicons_img/boxicons.jpg' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="submit_button">
                        <button type="button" class="btn btn-danger modulesubmitBtn btn-sm" data-bs-dismiss="modal"
                            style="margin-right: 10px;">Close</button>
                        <button type="submit" value="submit" class="btn btn-success modulesubmitBtn btn-sm"
                            style="margin-right: 10px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#save_mType').submit(function (e) {
            e.preventDefault();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'add_module_type' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                success: function (resp) {
                    if (success = resp.msg) {
                        toastr.success(resp.msg)
                        //location.reload()
                        setTimeout(function () { location.reload() }, 300);
                    } else {
                        toastr.error(resp.errmsg);
                    }
                }
            })
        })
    })

    // Checkbox value change 1 or 0
    $('#type_status').on('change', function () {
        this.value = this.checked ? 1 : 0;
    }).change();
</script>