/* main header start */
.container-fluid {
    cursor: pointer;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
}

.dashboar-head {
    width: 100%;
    /* border-bottom: 1px solid white; */
    margin-top: 0.5em;
    margin-bottom: 0.5rem;
}

.req-head-icon {
    font-size: 16px;
}


.req-head {
    font-size: 14px;
    margin-left: 10px;
}

.row>* {
    padding-right: 0.2rem;
    padding-left: 0rem;
}

.row {
    margin-right: 0rem;
    margin-left: 0rem;
}

.py-2 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.mb-1 {
    margin-bottom: 0rem !important;
}

.mb-2 {
    margin-bottom: 0rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.text-size {
    font-size: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}

/* main header end */

@media (min-width: 576px) {
    .col_sm_menual {
        flex: 0 0 auto;
        width: 26%;
    }
}

@media (min-width: 576px) {
    .col_sm_disPer {
        flex: 0 0 auto;
        width: 40%;
    }
}

@media (min-width: 576px) {
    .col_sm_3 {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (min-width: 576px) {
    .col_sm_one {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (min-width: 576px) {
    .col_sm_totDis {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (min-width: 576px) {
    .col-sm-8_mody {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm-2_mody {
        flex: 0 0 auto;
        width: 15%;
    }
}

@media (min-width: 576px) {
    .col-sm-3_mody {
        flex: 0 0 auto;
        width: 29%;
    }
}

@media (min-width: 576px) {
    .col-sm-9_manual {
        flex: 0 0 auto;
        width: 74%;
    }
}

@media (min-width: 576px) {
    .col-sm_expected {
        flex: 0 0 auto;
        width: 70%;
    }
}

@media (min-width: 576px) {
    .col_sm_eleven {
        flex: 0 0 auto;
        width: 70%;
    }
}

@media (min-width: 576px) {
    .col-sm-mody {
        flex: 0 0 auto;
        width: 58.5%;
    }
}

@media (min-width: 576px) {
    .col_sm_label {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 576px) {
    .col-sm-2_manual {
        flex: 0 0 auto;
        width: 14%;
    }
}

@media (min-width: 576px) {
    .col-sm_entry {
        flex: 0 0 auto;
        width: 71.8%;
    }
}

@media (min-width: 576px) {
    .col-sm-1_manual {
        flex: 0 0 auto;
        width: 5%;
    }
}


/* item setup card-body */
.row_item_setup {
    --bs-gutter-x: 0.1rem;
}

.card-body_item_setup {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}

.item_setup_sub {
    flex: 1 1 auto;
    padding: 0rem 0rem;
    color: #58555E;
}

/* item setup card-body */

.itemsetup_container {
    position: relative;
    /* height: 70vh; */
    /* margin-top: 8px; */
    border: 1px solid rgb(211, 211, 211);
    /* background: rgba(216, 216, 216, 0.767); */
}

.main-card {
    border: 0;
}

.itemfilter_container {
    position: relative;
    margin-top: 8px;
    border: 1px solid rgb(211, 211, 211);
}

.filter_head {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 25px;
    width: 30%;
    height: 33px;
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 35px;
}

.filter_head h2 {
    position: absolute;
    display: flex;
    font-size: 14px;
    color: rgb(126, 126, 126);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.inline_item {
    margin-left: 0.4rem;
    color: #58555E;
    font-size: 13.8px;
}

.form-check-inline {
    margin-right: 0;
}

.inline_searchData {
    margin-right: 0;
    padding-left: 0.8em;
}


/* table */
.type_type {
    height: 637px;
    overflow: auto;
    border: 1px solid #71bac4;
}

/* table row column fixed */

/* data table */
table.dataTable thead th,
table.dataTable thead td {
    padding: 3px;
    border-bottom: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 1px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: inherit;
    font-size: 13px;
    margin-left: 2rem;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px 1px;
}


/* filtering & paging */
.dataTables_wrapper .dataTables_length select {
    padding: 0.175rem 0.65rem 0.175rem 0.65rem;
    position: relative;
    width: 44% !important;
    font-weight: 400;
    line-height: 1.5;
    outline: none !important;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-bottom: 0.5rem;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    flex-direction: row;
    text-align: center;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 0.175rem 0.65rem 0.175rem 0.65rem;
    position: relative;
    width: 100% !important;
    font-weight: 400;
    line-height: 1.5;
    outline: none !important;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    flex-direction: row;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-right: 5rem;
    margin-bottom: 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.1em 1em;
    outline: none !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-right: 1rem;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    padding-bottom: 1em;
}


table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "" !important;
    content: "" /"" !important;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "" !important;
    content: "" /"" !important;
}

table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc_disabled,
table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 0px;
}

/* filtering & paging */
/* data table */

.col_last {
    position: sticky;
    right: 0;
    z-index: 0;
}

.first_head {
    position: sticky;
    right: 0;
    z-index: 1;
}

/* table row column fixed */

/* scroll button */
.scroll-Back-Forward {
    background: none;
    border: 0;
    font-size: 0.65rem;
    color: #fff;
}

/* scroll button */

.table_border {
    width: 99.5%;
    height: 300px;
    overflow: auto;
    border: 1px solid #71bac4;
    margin-left: 3px;
    margin-bottom: 0.2rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* search  */
.search_control {
    width: 100%;
}

.search_control_item {
    width: 99%;
}

.search_clearBtn {
    position: relative;
    margin-top: 2px;
    font-size: 1rem;
    z-index: 1;
    width: 40px;
    height: 27px;
    inset: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search_clearIcon {
    font-size: 1.5rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none;
}

.table-header {
    color: #fff;
    background: #2e94a1;
    font-size: 12px;
}

.table-header_itemlist {
    color: #fff;
    background: #85acb1;
    font-size: 0.73rem;
}

.table>thead {
    vertical-align: middle;
}


.table-body-row {
    font-size: 0.7rem;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 3px;
    border-bottom: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 1px;
}

.table>:not(caption)>*>* {
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
    vertical-align: middle;
}

/* table */

.printBtn {
    font-size: 1rem;
    line-height: 1;
    padding: 0.175rem 0.5rem;
}

.loadBtn {
    display: flex;
    font-size: 1rem;
    line-height: 1;
    padding: 0.3rem 1rem;
    margin: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.printIcon {
    margin-top: 2px;
    line-height: 1.1;
}

.add-moduleBtn {
    position: absolute;
    width: 10%;
    float: right;
    right: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.moduleBtn {
    position: absolute;
    display: flex;
    width: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding: 0.475rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}

/* clear button */
.item_del_btn {
    margin-top: 3.5px;
    margin-left: -0.5rem;
    margin-bottom: -0.22rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

/*  */

/*  */
.item_inputbox {
    position: relative;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
    padding: 0.175rem 0.25rem 0.175rem 0.75rem;
    font-size: 0.76rem;
    /* z-index: 1; */
}

.ts-control {
    position: relative;
    margin-top: 0px;
    padding: 0.02rem 0.02rem 0.05rem 0.2rem;
    font-size: 0.8rem;
    border: 0px solid #d0d0d0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}

.ts-dropdown,
.ts-control,
.ts-control input {
    font-size: 0.76rem;
}

.inputbox_rowwise {
    position: relative;
    margin-top: 0px;
    padding: 0.175rem 0.25rem 0.175rem 0.75rem;
    font-size: 0.75rem;
    border: 0;
    outline: 0;
    /* z-index: 1; */
    display: block;
    width: 97%;
    text-align: center;
    background: #bad0d3;
    border-radius: 0;
}

.inputbox_tdrow {
    position: relative;
    margin-top: 0px;
    padding: 0.175rem 0.175rem 0.175rem 0.175rem;
    font-size: 0.75rem;
    border: 0;
    outline: 0;
    /* z-index: 1; */
    display: block;
    width: 97%;
    text-align: center;
    background: transparent;
    border-radius: 0;
}

.red-item {
    color: rgb(175, 0, 0);
}

/*  */
/* edit button */
.edit-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 0;
    color: #0080ff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.175rem 0.35rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* accordion btn body */
.accordion_btn_body {
    padding: 0.27rem 1.25rem;
    color: #fff;
    background-color: rgb(48, 69, 97);
    font-size: 0.82rem;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: rgb(48, 69, 97);
}

.accordion-body {
    padding: 0.5rem 0.5rem;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid rgb(211, 211, 211);
}

/* accordion btn body */

.font_size_filter {
    display: flex;
    padding-right: 8px;
    font-size: 0.794rem;
    justify-content: right;
}

textarea.form-control {
    min-height: 0;
}

.checkbox_manual {
    width: 1.8rem;
    height: 1.65rem;
    margin-top: 0.178rem;
}

.itemAdd_del_btn {
    position: relative;
    margin-top: 0.6px;
    margin-bottom: 2px;
    padding: 0.03rem 0.35rem;
    font-weight: bold;
    margin-left: 0.15rem;
    margin-right: 0.2rem;
    z-index: 1;
    font-size: 0.8rem;
}

.item_del_checkbox {
    margin-top: 0em;
    width: 1.8em;
    height: 1.8em;
}

.itemborder {
    border-style: ridge;
}

.item_add_clear_btn {
    margin-top: 3.8px;
    padding: 0.09rem 0.6rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: -0.5rem;
}

/*  */
.submit_button {
    position: relative;
    display: flex;
    justify-content: right;
}

/* ======================= */
datalist {
    position: absolute;
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 454px;
    padding: 5px;
    text-align: left;
    max-height: 10rem;
    overflow-y: auto;
    z-index: 1;
}

option {
    background-color: white;
    padding: 4px;
    color: #212529;
    margin-bottom: 1px;
    font-size: 0.8rem;
    cursor: pointer;
    /* background: #eeeeee; */
}

option:hover {
    background-color: lightblue;
}

/* auto serial */
#additem_tbl {
    counter-reset: serial-number;
    /* Set the serial number counter to 0 */
}

#additem_tbl td:first-child:before {
    counter-increment: serial-number;
    /* Increment the serial number counter */
    content: counter(serial-number);
    /* Display the counter */
}

.ts-dropdown [data-selectable].option {
    border-bottom: 1px solid #f3f3f3;
    background: darkseagreen;
}


/* loader */
.loader {
    position: absolute;
    width: 99%;
    height: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4ab;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 3;
}


.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #1a8af3;
    border-top: 15px solid #81c2ff;
    border-left: 15px solid #81c2ff;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* ============================================================ */

.dropdown-menu {
    position: absolute;
    top: 2.2rem !important;
    /* border-top-left-radius: 0!important; */
    /* border-top-right-radius: 0!important; */
    display: none;
    min-width: 38rem !important;
    padding: 0 !important;
    margin: 0;
    font-size: 0.8rem !important;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    z-index: 1000;
}

.dropdown-item {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: 38rem;
    border-bottom: 1px solid #f3f3f3 !important;
    background: darkseagreen !important;
}

.credit_balance {
    display: flex;
    height: 1.7rem;
    border-radius: 1rem;
    background: #e3e3e3;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.3);
}

.pur-payment-his {
    width: 99.5%;
    margin-left: 3px;
    padding: 2px;
    border: 1px solid #71bac4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* background: #dfdfdf; */
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.pur-submissionBtn {
    width: 99.5%;
    margin-left: 3px;
    padding: 2px;
    border: 1px solid #71bac4;
    margin-bottom: 0.5rem;
    /* background: #99b3b4; */
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.total-discountAmt {
    display: flex;
    height: 1.7rem;
    border-radius: 1rem;
    background: #e3e3e3;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    z-index: 1;
    align-items: center;
    justify-content: right;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.3);
    color: #666464;
}


.payHis_inputbox {
    position: relative;
    margin-bottom: 0rem;
    padding: 0.175rem 1.25rem 0.175rem 0.75rem;
    display: flex;
    align-items: baseline;
}


.po_card {
    display: flex;
    flex-direction: column;
    border-radius: 0rem;
    background-color: #fff;
    margin: 0;
    box-shadow: 0px 0.4rem 0.5rem 0px #e6edef;
    color: #495057;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.active-filter {
    position: relative;
    display: flex;
    width: 100%;
    height: 35px;
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: none;
}

.form-check {
    display: block;
    min-height: 0rem;
    padding-left: 1.5em;
    margin-bottom: 0rem;
    margin-right: 1rem;
}

.store_Selectbox {
    margin-top: 2px;
    /* margin-left: 0.5rem; */
    padding: 0.275rem 0.25rem 0.275rem 0.75rem;
    font-size: 11.5px;
}


.por_tb_header {
    color: black;
    font-size: 0.73rem;
}

.printPOBtn {
    position: absolute;
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding: 0.475rem 0.5rem;
    font-size: 0.8rem;
}


.is_rec_checkbox {
    margin-top: -1px;
    height: 1rem;
}


.rec_bonusQty {
    position: relative;
    margin-top: 0px;
    padding: 0.175rem 0.25rem 0.175rem 0.75rem;
    font-size: 0.75rem;
    border: 0;
    outline: 0;
    /* z-index: 1; */
    display: block;
    width: 97%;
    text-align: center;
    border-radius: 0;
}

.disabled-input {
    background-color: #bad0d3;
}

.selected-row {
    background-color: rgb(5, 87, 141) !important;
    color: #ffffff !important;
}


/* ==============================  open purchase order list modal  ===================================== */
.add-moduleBtn {
    position: absolute;
    width: 10%;
    float: right;
    right: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.moduleBtn {
    position: absolute;
    display: flex;
    width: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding: 0.475rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}

.add_edit_head {
    position: relative;
    display: flex;
    margin-top: -17px;
    margin-left: 25px;
    margin-bottom: 1rem;
    width: 33%;
    height: 33px;
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 35px;
}

.add_edit_head h2 {
    position: absolute;
    display: flex;
    font-size: 14px;
    color: rgb(126, 126, 126);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modalCloseBtn {
    right: -16px;
    position: absolute;
    top: -3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
}